.bot-info{
	border:1px solid #dee2e6;
	border-radius: 5px;
	padding: .5rem;
	padding-right:20px;
	/* height: 100%; */
}
.bot-info h6{
	font-size: 12px;
	/* height: 32px; */
	overflow: hidden;
}
.bot-info p{
	font-size: 12px;
	color: #828E98;
	height: 40px;
	overflow: hidden;
}
.bot-list{
	border:1px solid #dee2e6;
	border-radius: 5px;
	padding: .5rem;
	height: 100%;
}
.bot-list p{
	font-size: 12px;
	color: #09abdd;
	margin:0;	
}
.bot-list2{
	border:1px solid #dee2e6;
	border-radius: 5px;
	padding: .5rem;
	height: 100%;
	display: flex;
	cursor: pointer;
}
.bot-list2:hover{
	background: #f9f9f9;
}
.bot-list2 p{
	font-size: 12px;
	color: #09abdd;
	margin:0;
	width: calc(100% - 10px);
}
.bot-list2 span{
	min-width: 10px;
	font-size: 16px;
	line-height: 0;
	margin-top: 8px;
	text-align: right;
	color: #28a745;
}
.workflow-title{
	color: #09abdd;
	margin-bottom: 1rem;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0rem rgba(255,255,255,1);
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #adb5bd;
}
.bot-select .custom-control-label::before {
    position: absolute;
    top: -0.75rem;
    left: -2.5rem;
    display: block;
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    content: "";
    background-color: #e9e9e9;
    border: #adb5bd solid 1px;
	border-radius: 1.25rem;
	transition: all 2s ease;
	box-shadow: none;
}
.bot-select  .custom-control-label::after {
    position: absolute;
    top: -0.75rem;
    left: -2.5rem;
    display: block;
    width: 2rem;
    height: 2rem;
    content: "";
    background: no-repeat 50%/50% 50%;
	transition: all 2s ease;
	box-shadow: none;
	
}
.bot-select .custom-control-input:checked ~ .custom-control-label::after{
	background-image:url("../../../assets/img/tick.png");
	box-shadow: none;
}
.bot-select .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #2BC48A;
    background-color: #2BC48A;
	box-shadow: none;
}
.bot-right{
	padding: 0rem;
	height: 100%;
	border: 1px solid #dee2e6;
}
.bg-grey{
	background: #f2f2f2;
}
.remove-selBot{
	position: absolute;
	top:10px;
	right:15px;
	font-size:12px;
}
footer{
	background:unset;
}
.botter{
	position:absolute;
	padding:8px;
	font-size:12px;
	border-bottom:1px solid #ccc;
	cursor:pointer;
	width:115px;
	text-align:center;
	border-radius:5px;
	/* ellipsis style */
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
/* #drawing{
	-webkit-transform:scale(0.75);
  -moz-transform:scale(0.75);
  -ms-transform:scale(0.75);
  -o-transform:scale(0.75);
transform:scale(0.75);
} */

.arrow-down{
	position: relative;
    top: 10px;
	right: 10px;
	font-size:13px;
	color:#6c757d;
	bottom: 0;
	border: none;
	float: right;
}
.card-header.collapsed .arrow-down{
	transform: rotate(180deg);
}
.remove-selBot{
	cursor:pointer;
}
.font-12{
	font-size:12px;
}
.left-detail{
	/* position: absolute;
	right:10px;
	bottom:3px; */
	font-size:10px;
	cursor:pointer;
	color:#f16b35;
	
}
.bot-list, .bot-list p{
	cursor:default;
}
#nav-contact .bot-list{
	cursor: default !important;
}
.wfspace .bot-list.fa-plus{
	cursor: pointer
}
.addBtnAM{
	position: absolute;
	bottom:0;
	right:15px;
}

.custom-file{
	position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 0;
}
.custom-file-label{
	   position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.selectedBotter{
	border:2px solid lightseagreen !important;
}

.linker{
	cursor:pointer;
	text-decoration: underline;
}


.cdk-drag-placeholder{
	opacity: 0!important;
	/* width:100px !important; */
  }
  
/* Output mapping drag */

.example-container {
	width: 300px;
	max-width: 100%;
	margin: 0 25px 25px 0;
	display: inline-block;
	vertical-align: top;
  }

.example-container-one{
	
	max-width: 100%;
	margin: 0 25px 25px 0;
	display: inline-block;
	vertical-align: top;
}
  
  .example-list {
	border: solid 1px #ccc;
	min-height: 60px;
	/* background: white; */
	color: black;
	border-radius: 4px;
	overflow: hidden;
	display: block;
  }
  
  .example-box {
	padding: 5px 5px;
	border-bottom: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	color: black;
	font-size: 12px;
  }

  .example-box-one {
	padding: 8px;
	border-bottom: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	color: black;
	font-size: 12px;
  }

  .cdk-drag-preview.ng-star-inserted{
	z-index:1051 !important;
	background:#fff;
}
.cdk-drag.selected{
	border:1px solid #0051ff;
}
.cdk-drag.selected.dragging{
	opacity: 0;
}
.dgdpLeft::-webkit-scrollbar, .dgdpRight::-webkit-scrollbar,.table-responsive::-webkit-scrollbar, .sel-bot::-webkit-scrollbar {
	width: 7px;
	height: 7px;
  }
   
  .dgdpLeft::-webkit-scrollbar-track, .dgdpRight::-webkit-scrollbar-track, .table-responsive::-webkit-scrollbar-track, .sel-bot::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px transparent;
  }
   
  .dgdpLeft::-webkit-scrollbar-thumb,.dgdpRight::-webkit-scrollbar-thumb,.table-responsive::-webkit-scrollbar-thumb,.sel-bot::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;;
   border-radius:3.5px;
  }

  #ruleJSONTable tr td{
	vertical-align:middle;
	cursor:move;
	}
	  .del-rulejson{
	  position:absolute;
		  right:10px;
		  bottom:10px;
		  
	  }
	  .elips-json{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width:300px;
	  }

	  /* workflow bot Type colour differentiation */
/* storedProcedure */
.botter{
	border-left: 10px solid #00e50b;
    border-right: 10px solid #00e50b;
	background: #acffb3;
	

}
.botter.endbot{
	border-left: 10px solid #ff8b8b;
    border-right: 10px solid #ff8b8b;
	background: #ffe8e8;
}
.sp{
border-left:10px solid #ffa55c;
border-right:10px solid #ffa55c;
background: #ffcc8a
}
/* webservice */
.ws{
	border-left:10px solid #ffe600;
	border-right:10px solid #ffe600;
	background: #fff385
}
/* crawl */
.cl{
	border-left:10px solid #0051ff;
	border-right:10px solid #0051ff;
	background: #9cc7ff
}
	  /*  workflow bot Type colour differentiation */


	  /* / Chrome, Safari, Edge, Opera / */
input.sqnnumber::-webkit-outer-spin-button,
input.sqnnumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* / Firefox / */
input.sqnnumber[type=number] {
  -moz-appearance: textfield;
}

.workflow-space{
	min-height:500px;overflow:auto;
	background:white;
}

#previewImage>.workflow-space{
	width:2000px;
}

*.html2canvasreset{
    overflow: visible !important;
    /* width: auto !important;
    height: auto !important; */
    /* max-height: auto !important; */
}
.c-menu .dropdown-item{
	font-size:12px;
}
.jtk-overlay.setting{
	z-index:999 !important;
}
.h-55px{
	height:55px;
}
.inactive-list{
	min-height:500px;overflow:auto
}
.cmn-srch{
	width:100%;position:relative;left:-2px
}
.sel-bot{
	height:500px;overflow-y:auto
}
.ref-identity{
	width: 250px;z-index:101; box-shadow: 5px 5px 9px #7584a4;
}
.c-menu{
	z-index:101 !important;
}
#conDetails .modal-lg{
	max-width:1000px !important;
}
#dgdpLeft{
	height:350px;overflow-y:auto
}

#reportProp{
	overflow-y:auto !important;height:350px;
}
#consaveDetail .modal-lg{
	max-width:1000px !important;
}
#nav-profile-tab.event-none, #nav-contact-tab.event-none{
	opacity:1
}

.file-extenstion{
	z-index: 10000;
    position: ABSOLUTE;
	RIGHT: 16px;
    top: 19px;
   
    background: rgba(217,217,217,0.25);
   
    padding: 6px;
}
