<div class="content-section">
    <nav aria-label="breadcrumb" class="breadcrumb-section">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html" class="home"><i class="fas fa-home" aria-hidden="true"></i></a></li>
        <li class="breadcrumb-item"><a href="index.html" >User Management</a></li>
      </ol>
    </nav>
    <div class="row form-group">
      <div class="col-lg-12">
        <div class="card h-100">
          <div class="card-header">
            <h5>Users</h5>
            <a href="javascript:void(0);" class="btn-add" data-toggle="modal" data-target="#adduser">Add New</a> </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-inline float-right form-group">
                  <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="doc/User_List.xlsx">PDF</a> <a class="dropdown-item" href="doc/User_List.xlsx">Excel</a> </div>
                  </div>
                  <input type="text" class="form-control" id="courseNumber" placeholder="Search" >
                </div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th><div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="cc1">
                          <label class="custom-control-label" for="cc1"></label>
                        </div></th>
                      <th>Email</th>
                      <th>First Name</th>
                      <th>Last Name</th>                    
                      <th>User Roles</th>
                      <th>Created On</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th><div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="cc2">
                          <label class="custom-control-label" for="cc2"></label>
                        </div></th>
                      <td>gobikrishnan@mobiusservices.com</td>
                      <td>GobiKrishnan</td>
                      <td>Gobi Krishnan</td>
                      <td>Abstractor, DOC User</td>
                      <td>01/01/2020</td>
                      <td  class="text-center"><i class="fas fa-square text-success"></i></td>
                      <td class="text-center"><a href="javascript:void(0);" class="text-primary mr-3" title="Edit"><i class="fas fa-pen-square"></i></a> <a href="javascript:void(0);" class="text-danger" title="Delete"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="adduser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add / Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active" id="nav-create-emp-tab" data-toggle="tab" href="#nav-create-emp" role="tab" aria-controls="nav-create-emp" aria-selected="true">Upload User List</a> <a class="nav-item nav-link" id="nav-data-submission-tab" data-toggle="tab" href="#nav-data-submission" role="tab" aria-controls="nav-data-submission" aria-selected="false">Create User</a> </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active pt-4" id="nav-create-emp" role="tabpanel" aria-labelledby="nav-create-emp-tab"> 
                  <!-- Tab Content1 Starts-->
                  
                  <div class="form-row">
                    <div class="col-md-12 form-group"> <a href="doc/NCCategory_Template.xlsx" class="btn btn-primary btn-sm" >Download Template</a> </div>
                    <div class="col-md-6 form-group">
                      <label for="collegeName">Upload User File <span class="text-danger">*</span></label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                      </div>
                    </div>
                  </div>                
                  <!-- Tab Content1 Ends--> 
                </div>
                <div class="tab-pane fade show" id="nav-data-submission" role="tabpanel" aria-labelledby="nav-data-submission-tab"> 
                  <!-- Tab Content1 Starts-->                
                  <form>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label for="ename">First Name</label>
                        <input type="text" class="form-control" id="ename" >
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="uname">Last Name</label>
                        <input type="text" class="form-control" id="uname" >
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="role">Role</label>
                        <input type="text" class="form-control" id="role" >
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="empmail">Email</label>
                        <input type="text" class="form-control" id="empmail" >
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="Phone" >
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="epass">Password</label>
                        <input type="password" class="form-control" id="epass" >
                      </div>
                      <div class="col-md-6 form-group align-self-end">
                        <label for="epass" class="mr-3">Active</label>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline1">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline2">No</label>
                        </div>
                      </div>
                    </div>
                  </form>                
                  <!-- Tab Content1 Ends--> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-navy">Save</button>
        </div>
      </div>
    </div>
  </div>