<div class="content-section"  id="fullscreen" [ngClass]="{'ml-0': !showSideBar}">
   
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Project Type Regulation</h5>
                    <a href="javascript:void(0);" class="btn-add" (click)="Open()" data-toggle="modal" data-target="#addProjectTypeRegulation">Add New</a>                    </div>
                <div class="card-body" *ngIf="showCount">
                    <div class="row">
                        <div class="col-12">
                            <div class="display-inline-block margin-r-10 float-left mt-2"><b>{{  dt.totalRecords }}</b> Results Found</div>
                            <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                            <div class="form-inline float-right form-group">
                                <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" (click)="exportPdf()">PDF</a> <a class="dropdown-item" (click)="dt.exportCSV()">CSV</a>
                               
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="search" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">

                            </div>
                        </div>
                        <div class="col-12">
                            <p-table #dt class="p-table-grid" [columns]="cols" [value]="projectTypeRegulation" [paginator]="true" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                                [rows]="10" sortMode="multiple" rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="projectTypeRegulation_Details">

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th  [ngClass]="{'text-center': col.field === 'insertedDateTime'? true: false}" *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                        <th class="text-center w-10">Status</th>
                                        <th class="text-center w-10">Action</th>

                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td [ngClass]="{'text-center': col.field === 'insertedDateTime'? true: false}" *ngFor="let col of columns">
                                            <div>
                                                {{rowData[col.field]}}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="fas fa-square text-success" *ngIf="rowData.active == true"></i>
                                            <i class="fas fa-square text-danger" *ngIf="rowData.active == false"></i>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:void(0);" class="text-primary mr-3" (click)="editProjectTypeRegulation(rowData)" title="Edit" data-toggle="modal"
                                                data-target="#editProjectTypeRegulation">
                                                <i class="fas fa-pen-square"></i>
                                            </a>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Delete" (click)="deleteProjectType(rowData)"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td class="text-center" [attr.colspan]="columns.length + 2">
                                            <b>No records found</b>
                                        </td>
                                    </tr>
                                </ng-template>

                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProjectTypeRegulation" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Project Type Regulation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">



                        <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                        <form [formGroup]="projectTypeRegulationForm" (ngSubmit)="submitForm(projectTypeRegulationForm.value)" autocomplete="off">
                            <div class="row">

                                <div class="col-md-6 form-group">
                                    <label for="ProjectType">Project Type</label>
                                    <input type="text" formControlName="ProjectType" name="ProjectType" class="form-control" id="ProjectType" maxlength="50"
                                        (keyup)="error=''" autocomplete="off">
                                    <control-messages [control]="getFields['ProjectType']" [message]="'Project type'" [customMessage]="''"></control-messages>
                                </div>

                                <!--<div class="col-md-12 form-group">
                                    <label for="ProjectTypeDescription">Project Type Description</label>
                                    <textarea type="text" formControlName="ProjectTypeDescription" name="ProjectTypeDescription" class="form-control" id="ProjectTypeDescription"
                                        (keyup)="error=''" autocomplete="off"></textarea>
                                    <control-messages [control]="getFields['ProjectTypeDescription']" [message]="'Project type description'" [customMessage]="''"></control-messages>
                                </div>-->

                                <div class="col-md-12 form-group">
                                    <label for="ProjectTypeDescription">Project Type Description</label>
                                    <textarea type="text" formControlName="ProjectTypeDescription" [pattern]="descriptionPattern" name="ProjectTypeDescription" class="form-control"
                                        id="ProjectTypeDescription" (keyup)="error=''" autocomplete="off"></textarea>
                                    <div class="error" *ngIf="isSubmitted && projectTypeRegulationForm.controls['ProjectTypeDescription'].errors?.required">
                                        Please enter project type description
                                    </div>

                                    <div class="error" *ngIf="isSubmitted && !projectTypeRegulationForm.controls['ProjectTypeDescription'].errors?.required && isNumber(projectTypeRegulationForm.controls['ProjectTypeDescription'].value)">
                                        Numbers only not allowed in project type description
                                    </div>

                                    <div class="error" *ngIf="isSubmitted && !projectTypeRegulationForm.controls['ProjectTypeDescription'].errors?.required && projectTypeRegulationForm.controls['ProjectTypeDescription'].errors?.description">
                                        Please enter valid description
                                    </div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label for="Stage">Stage</label>
                                    <angular2-multiselect [data]="stageList" formControlName="Stage" [settings]="stageSettings" (onSelect)="OnAddStageItemSelect($event)"
                                        (onDeSelect)="onAddStageDeSelect($event)" (onDeSelectAll)="onAddStageDeSelectAll($event)"  (onFilterSelectAll)="onStageFilterSelectAll($event)" (onFilterDeSelectAll)="onStageFilterDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Stage']" [message]="'Stage'" [customMessage]="''"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="Module">Module</label>
                                    <angular2-multiselect [data]="moduleList" formControlName="Module" [(ngModel)]="moduleSelectedItems" [settings]="moduleSettings"
                                        (onSelect)="OnAddItemSelect($event)" (onDeSelect)="OnAddItemDeSelect($event)" (onSelectAll)="onAddSelectAll($event)" (onFilterSelectAll)="onAddFilterSelectAll($event)" (onFilterDeSelectAll)="onAddFilterDeSelectAll($event)"
                                        (onDeSelectAll)="onAddDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Module']" [message]="'Module'" [customMessage]="''"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="SubModule">Sub Module</label>
                                    <angular2-multiselect formControlName="SubModule" (onDeSelectAll)="onAddSubDeSelectAll($event)" [data]="subModuleList" [(ngModel)]="subModuleSelectedItems" [settings]="subModuleSettings">


                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['SubModule']" [message]="'Sub module'" [customMessage]="''"></control-messages>
                                </div>


                                <div class="col-md-6 form-group align-self-end">
                                    <label for="epass" class="mr-3">Active</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active" class="custom-control-input"
                                            [(ngModel)]="selectedValue">
                                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="active" class="custom-control-input"
                                            [(ngModel)]="selectedValue">
                                        <label class="custom-control-label" for="customRadioInline2">No</label>
                                    </div>
                                </div>

                            </div>
                            <div class=" modal-footer">
                                <button type="button" class="btn btn-danger" [disabled]="disabled" data-dismiss="modal" (click)="Close()">Close</button>
                                <button type="submit" class="btn btn-navy" [disabled]="disabled">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="editProjectTypeRegulation" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Project Type Regulation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                        <form [formGroup]="projectTypeRegulationForm" (ngSubmit)="updateForm(projectTypeRegulationForm.value)" autocomplete="off">
                            <div class="row">

                                <div class="col-md-6 form-group">
                                    <label for="ProjectType">Project Type</label>
                                    <input type="text" formControlName="ProjectType" [(ngModel)]="projectType" name="ProjectType" class="form-control" id="ProjectType" maxlength="50"
                                        (keyup)="error=''" autocomplete="off">
                                    <control-messages [control]="getFields['ProjectType']" [message]="'Project type'" [customMessage]="''"></control-messages>
                                </div>

                                <!--<div class="col-md-12 form-group">
                                    <label for="ProjectTypeDescription">Project Type Description</label>
                                    <textarea type="text" formControlName="ProjectTypeDescription" [(ngModel)]="projectTypeDescription" name="ProjectTypeDescription" class="form-control" id="ProjectTypeDescription"
                                        (keyup)="error=''" autocomplete="off"></textarea>
                                    <control-messages [control]="getFields['ProjectTypeDescription']" [message]="'Project type description'" [customMessage]="''"></control-messages>
                                </div>-->

                                <div class="col-md-12 form-group">
                                    <label for="ProjectTypeDescription">Project Type Description</label>
                                    <textarea type="text" formControlName="ProjectTypeDescription"  [(ngModel)]="projectTypeDescription" [pattern]="descriptionPattern" name="ProjectTypeDescription" class="form-control"
                                        id="ProjectTypeDescription" (keyup)="error=''" autocomplete="off"></textarea>
                                    <div class="error" *ngIf="isSubmitted && projectTypeRegulationForm.controls['ProjectTypeDescription'].errors?.required">
                                        Please enter project type description
                                    </div>

                                    <div class="error" *ngIf="isSubmitted && !projectTypeRegulationForm.controls['ProjectTypeDescription'].errors?.required && isNumber(projectTypeRegulationForm.controls['ProjectTypeDescription'].value)">
                                        Numbers only not allowed in project type description
                                    </div>

                                    <div class="error" *ngIf="isSubmitted && !projectTypeRegulationForm.controls['ProjectTypeDescription'].errors?.required && projectTypeRegulationForm.controls['ProjectTypeDescription'].errors?.description">
                                        Please enter valid description
                                    </div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label for="Stage">Stage</label>
                                    <angular2-multiselect [data]="stageList" formControlName="Stage" [(ngModel)]="stageSelectedItems" [settings]="stageSettings" (onSelect)="OnAddStageItemSelect($event)"
                                        (onDeSelect)="onAddStageDeSelect($event)" (onDeSelectAll)="onAddStageDeSelectAll($event)" (onFilterSelectAll)="onStageFilterSelectAll($event)" (onFilterDeSelectAll)="onStageFilterDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Stage']" [message]="'Stage'" [customMessage]="''"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="Module">Module</label>
                                    <angular2-multiselect [data]="moduleList" formControlName="Module" [(ngModel)]="moduleSelectedItems" [settings]="moduleSettings"
                                        (onSelect)="OnAddItemSelect($event)" (onDeSelect)="OnAddItemDeSelect($event)" (onSelectAll)="onAddSelectAll($event)"
                                        (onDeSelectAll)="onAddDeSelectAll($event)" (onFilterSelectAll)="onAddFilterSelectAll($event)" (onFilterDeSelectAll)="onAddFilterDeSelectAll($event)"
                                        >
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Module']" [message]="'Module'" [customMessage]="''"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="SubModule">Sub Module</label>
                                    <angular2-multiselect formControlName="SubModule" [data]="subModuleList" [(ngModel)]="subModuleSelectedItems" [settings]="subModuleSettings"
                                        (onDeSelectAll)="onAddSubDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['SubModule']" [message]="'Sub module'" [customMessage]="''"></control-messages>
                                </div>


                                <div class="col-md-6 form-group align-self-end">
                                    <label for="epass" class="mr-3">Active</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active" class="custom-control-input"
                                            [(ngModel)]="selectedValue">
                                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="active" class="custom-control-input"
                                            [(ngModel)]="selectedValue">
                                        <label class="custom-control-label" for="customRadioInline2">No</label>
                                    </div>
                                </div>

                            </div>
                            <div class=" modal-footer">
                                <button type="button" class="btn btn-danger" [disabled]="disabled" data-dismiss="modal" (click)="Close()">Close</button>
                                <button type="submit" class="btn btn-navy" [disabled]="disabled">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- delete modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <p class="text-center mt-3 alert-confirm">Are you sure want to delete <b>{{deleteProjectTypeName}}</b>?</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger modal-close" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-navy" (click)="deleteProjectTypeConfirm()">Yes</button>
      </div>
    </div>
  </div>
</div>