<div class="login">
    <!-- <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast> -->
    <div class="d-flex justify-content-center vh-100">
      <div class="align-self-center">
        <div class="container">
          
          <div class="login-section align-self-center">
            <div class="row no-gutters">
              <div class="col-md-7">
                <div class="card h-100 login-left border-0 rounded-0">
                  <div class="card-body d-flex">
                    <div class="align-self-center px-md-5">
                      <h4>Welcome to</h4>
                      <h2>Unified Data Platform</h2>
                      <p>100% Accuracy on Data Extraction, Data Preparation, Data Enrichment.</p>
                      <a href="javascript:void(0);" class="login-play">
                        <img src="assets/img/play-button.png" class="Play-logo">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="card h-100 border-0 rounded-0">
                  <div class="card-body">
                    <div class="card-img text-right">
                      <img src="assets/img/udp-logo.png" class="login-logo">
                    </div>
                    
                    <form [formGroup]="clientAdministrationForm" (ngSubmit)="submitForm(clientAdministrationForm.value)" autocomplete="off">
                      <h5>Client Registered SuccessFully</h5>                                              
                      </form>
                      <div class="text-center">
                        <p class="m-0"><small>Back to <a [routerLink]="['/login']">Login</a></small></p>
                      </div>                     
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>