<div class="content-section" id="fullscreen" [ngClass]="{'ml-0': !showSideBar}" cdkDropListGroup>

  <!-- <nav aria-label="breadcrumb" class="breadcrumb-section">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html" class="home"><i class="fas fa-home" aria-hidden="true"></i></a>
      </li>
      <li class="breadcrumb-item"><a href="index.html">IO</a></li>
    </ol>
    <span (click)="shrService.fs()" style="cursor:pointer" class="p-1 pr-2"> <i class="fa fa-expand" ></i></span>

  </nav> -->
  <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
  
  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Input/Output</h5>
        </div>
        <div class="card-body">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-atrbt-tab" data-toggle="tab" href="#nav-atrbt" role="tab" aria-controls="nav-atrbt"
                aria-selected="true">Attributes</a>
              <a class="nav-item nav-link" id="nav-ftp-tab" data-toggle="tab" href="#nav-ftp" role="tab" aria-controls="nav-ftp" aria-selected="false"
                (click)="tabChange('FTP')">FTP</a>
              <a class="nav-item nav-link" id="nav-db-tab" data-toggle="tab" href="#nav-db" role="tab" aria-controls="nav-db" aria-selected="false"
                (click)="tabChange('DB')">DB</a>
              <a class="nav-item nav-link" id="nav-cloud-tab" data-toggle="tab" href="#nav-cloud" role="tab" aria-controls="nav-cloud"
                aria-selected="false" (click)="tabChange('CLOUD')">Cloud</a>
              <!--<a class="nav-item nav-link" id="nav-api-tab" data-toggle="tab" href="#nav-api" role="tab" aria-controls="nav-api" aria-selected="false"
                (click)="tabChange('API')">API</a>-->
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active pt-4" id="nav-atrbt" role="tabpanel" aria-labelledby="nav-atrbt-tab">
              <!-- Tab Content1 Starts-->
              <div class="row">
                <div class="col-12 mb-4">
                  <p-radioButton name="groupname" value="1" label="Single Attribute" (click)="singleOrMultiple(1)" [(ngModel)]="selectedValue"></p-radioButton>&nbsp;&nbsp;
                  <p-radioButton name="groupname" value="2" label="Multiple Attribute Upload" (click)="singleOrMultiple(2)" [(ngModel)]="selectedValue"></p-radioButton>&nbsp;&nbsp;
                  <p-radioButton name="groupname" value="3" label="Default Attribute" (click)="singleOrMultiple(3)" [(ngModel)]="selectedValue"></p-radioButton>

                </div>
              </div>
              <ng-container [ngTemplateOutlet]="attrTemplate" [ngTemplateOutletContext]="{formValues:formValues}">
              </ng-container>
              <ng-template #attrTemplate let-formValues='formValues'>
                <div class="row manual-section mb-4" *ngIf="formValues.isBulkUpload === 1 || isEditAttribute === true">

                  <div class="col-md-4 form-group">
                    <label for="role">Attribute Name</label>
                    <input type="text" [readOnly]="formValues.dbValue" pattern="^(?=.*[a-zA-Z]).+" required #attrName="ngModel" minlength="50"
                      [(ngModel)]="formValues.attributeName" (input)="onlyAllowAlphanumeric($event);" class="form-control">

                    <div *ngIf="attrName.invalid && attrName.errors?.required && attrName.touched && attrName.pristine" class="text-danger error">
                      Attribute name is required
                    </div>

                    <div class="error" *ngIf=" !attrName.errors?.required  && attrName.errors?.pattern && attrName.errors?.minlength">Attribute name must contain atleast one alphabets.</div>

                    <div class="error" *ngIf="attrName.dirty && !attrName.errors?.required   && !attrName.errors?.minlength">Attribute name must be less than a fifty Characters.</div>

                    <!--<div *ngIf="!attrName.errors?.required && nonNumericOnly(formValues.attributeName, 'attribute') && nonNumericAttr != 'true'"
                      class="text-danger error">
                      Attribute name {{ nonNumericAttr }}
                    </div>

                    <div *ngIf="attrName.invalid && !attrName.errors?.required && nonNumericAttr == 'true' && attrName.errors?.minlength" class="text-danger error">
                      Attribute name must be at least 4 characters long.
                    </div>-->
                  </div>

                  <div class="col-md-4 form-group">
                    <label for="role">Display Name</label>
                    <input type="text" #attrDName="ngModel" maxlength="50" (input)="sameAsInput($event.target.value);" required [(ngModel)]="formValues.displayName"
                      class="form-control" autocomplete="off" pattern="^(?=.*[a-zA-Z]).+" minlength="50">

                    <div class="error" *ngIf=" !attrDName.errors?.required  && attrDName.errors?.pattern && attrDName.errors?.minlength">Display name must contain atleast one alphabets.</div>

                    <div class="error" *ngIf="attrDName.dirty && !attrDName.errors?.required   && !attrDName.errors?.minlength">Display name must be less than a fifty Characters.</div>
                    <!-- <div class="error" *ngIf=" !attrDName.errors?.required && attrDName.errors?.pattern" >Display name must contain atleast one alphabets.</div>
                      <div class="error" *ngIf=" !attrDName.errors?.required   && !attrDName.errors?.minlength && formValues.displayName !==''" >Display name must be less than a fifty Characters.</div> -->
                    <!-- <div *ngIf="attrDName.invalid && attrDName.errors?.required && attrDName.touched && attrDName.pristine" class="text-danger error">
                      Display name is required
                    </div> -->
                    <!-- <div *ngIf="!attrDName.errors?.required && onlySpecialchars(formValues.displayName)" class="text-danger error">
                      Special character only not allowed in display name
                    </div>

                    <div *ngIf="!attrDName.errors?.required && !onlySpecialchars(formValues.displayName) && nonNumericOnly(formValues.displayName, 'display') && nonNumericDisplay != 'true'"
                      class="text-danger error">
                      Display name {{ nonNumericDisplay}}
                    </div> -->

                    <!--<div *ngIf="attrName.invalid && !attrName.errors?.required && nonNumeric == 'true' && attrName.errors?.minlength" class="text-danger error">
                      Attribute name must be at least 4 characters long.
                    </div>-->
                  </div>

                  <div class="col-md-4 form-group" >

                    <label for="opName{{formValues.isEdit}}">Output Name ( <input type="checkbox" id="opName{{formValues.isEdit}}" [checked]="formValues.isSameAsDisplayName" style="position:relative;top:2px;" (click)="checkBoxSameAsInput(formValues.isSameAsDisplayName)" [(ngModel)]="formValues.isSameAsDisplayName" name="opName{{formValues.isEdit}}">&nbsp; Same as display Name )</label>
                    <!-- <p-checkbox name="groupname" value="1" [(ngModel)]="isSameAsDisplayName"></p-checkbox>&nbsp; <label for="role">Output Name Same as display Name</label> -->
                    <input type="text" id="attrOPdName" #attrODName="ngModel" required [(ngModel)]="formValues.opdisplayName" [disabled]="formValues.isSameAsDisplayName"
                      class="form-control" autocomplete="off" pattern="^(?=.*[a-zA-Z]).+" minlength="50">
                    <div class="error" *ngIf="!formValues.isSameAsDisplayName && !attrODName.errors?.required  && attrODName.errors?.pattern && attrODName.errors?.minlength">Display name must contain atleast one alphabets.</div>
                    <div class="error" *ngIf="!formValues.isSameAsDisplayName && attrODName.dirty && !attrODName.errors?.required   && !attrODName.errors?.minlength">Display name must be less than a fifty Characters.</div>

                  </div>
                
                  <div class="col-md-4 form-group">
                    <label for="module">Attribute Type </label>
                    <!-- <angular2-multiselect  [data]="attributeTypes" #attrType="ngModel" required [(ngModel)]="formValues.selAttrTypes"
                    (onSelect)="onItemSelect($event)" [settings]="attributeTypeSettings">
                  </angular2-multiselect> -->

                    <p-dropdown class="p-dropdown-custom" [options]="attributeTypes" placeholder="Select a Type" dropdownIcon="pi pi-caret-down"
                      #attrType="ngModel" required optionLabel="attributeTypeName" (onChange)="onItemSelect($event.value)"
                      [(ngModel)]="formValues.selAttrTypes" [style]="{'width':'100%','border-radius':'0','border':'1px solid #ced4da', 'padding':'0.1em'}">
                    </p-dropdown>
                    <div *ngIf="attrType.invalid && (attrType.dirty || attrType.touched) && issubmitted">

                      <div *ngIf="attrType.errors.required" class="text-danger error" style="font: size 12px">
                        Please select an attribute type
                      </div>

                    </div>
                  </div>
                  <!-- Attribute Types related Inputs -->

                  <!-- dropdown attribute -->
                  <div class="col-md-12 form-group" *ngIf="inputFrom === 'DROPDOWN' || inputFrom === 'RADIO BUTTON' || inputFrom === 'CHECKBOX'">
                    <div>
                      <label class="mt-2">Values&nbsp;&nbsp;<span>

                          <input type="file" #reff id="singlebulkvalue" style="width:0px;height:0px"
                            class="custom-file-input" (change)="uploadBulk($event, 0)">
                          [ <a class="" id="filename" style="text-decoration: underline;cursor:pointer;color:#007ad9"
                            for="singlebulkvalue">{{fileName}}</a>  

                        </span><span class="xicon-span"><i class="fas fa-times text-danger" *ngIf="fileName === 'Choose File' ? false : true" (click)="formValues.inputValues = '';fileName='Choose File'"></i> ] </span><span *ngIf="pleaseWait">Please wait...</span></label>

                      <a href="assets/template/City.xlsx" class="float-right mt-2 mr-2" style="text-decoration: underline;cursor:pointer;">Download Template</a></div>
                    <textarea class="form-control" id="inputValues" autocomplete="off" placeholder="Please fill the values by comma seperated. ex: val1, val2, val3..."
                      (input)="isFill($event.target.value, valuesInvalid.values,formValues)" [(ngModel)]="formValues.inputValues"
                      rows="5" readonly></textarea>
                    <div *ngIf="valuesInvalid.values && issubmitted" class="text-danger error bulkerr" style="font: size 12px">
                      Please fill the values with comma seperated. ex: val1, val2, ...
                    </div>
                  </div>
                  <!-- dropdown attribute end -->


                  <!-- length and Numeric Range attribute -->
                  <div class="col-md-12 form-group" *ngIf="inputFrom === 'LENGTH' || inputFrom === 'NUMERIC RANGE'? true: false">

                    <div class="row d-flex justify-content-start">
                      <div class="col-md-4 form-group">
                        <label>MIN</label>
                        <input type="text" [(ngModel)]="formValues.min" maxlength="200" (keypress)="numberOnly($event)" (input)="isFill($event.target.value, valuesInvalid.min, formValues)"
                          class="form-control" autocomplete="off">
                        <div *ngIf="valuesInvalid.min && issubmitted" class="text-danger error" style="font: size 12px">
                          Please fill the minimum value
                        </div>
                      </div>

                      <div class="col-md-4 form-group">
                        <label>MAX</label>
                        <input type="text" [(ngModel)]="formValues.max" maxlength="200" (keypress)="numberOnly($event)" (input)="isFill($event.target.value, valuesInvalid.max, formValues)"
                          class="form-control" autocomplete="off">
                        <div *ngIf="valuesInvalid.max && issubmitted" class="text-danger error" style="font: size 12px">
                          Please fill the maximum value
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- length and Numeric Range attribute end -->

                  <!-- Date Range attribute -->
                  <div class="col-md-12 form-group" *ngIf="inputFrom === 'DATE RANGE' ? true: false">
                    <!-- <div class="col-md-12 form-group" > -->

                    <div class="row d-flex justify-content-start">
                      <div class="col-md-4 form-group">
                        <label>DATE FORMAT</label>
                        <p-dropdown class="p-dropdown-custom" [options]="dateFormats" placeholder="Select a date format" (onChange)="isFilldateFormat($event.value,valuesInvalid.dateFormat)"
                          dropdownIcon="pi pi-caret-down" required optionLabel="format" [(ngModel)]="formValues.dateFormat"
                          [style]="{'width':'100%','border-radius':'0','border':'1px solid #ced4da', 'padding':'0.1em'}">
                        </p-dropdown>
                        <div *ngIf="valuesInvalid.dateFormat && issubmitted" class="text-danger error" style="font: size 12px">
                          Please select a date format
                        </div>

                      </div>

                      <div class="col-md-4 form-group" id="rangedate">
                        <label>DATE RANGES</label>&nbsp;<i class="far fa-calendar-alt mr-2 date-icon"></i>
                        <input type="text" name="dateRange" id="dateRange" class="form-control daterange" readonly>
                      </div>
                    </div>
                  </div>
                  <!-- Date Range attribute -->

                  <!-- Attribute Types related Inputs End -->
                  <div class="col-md-12 form-group" *ngIf="!isEditAttribute">
                    <button type="button" class="btn btn-navy" [disabled]="
                    formValues.attributeName === '' ||
                    formValues.displayName === '' ||
                    formValues.opdisplayName === '' ||
                    formValues.selAttrTypes === '' ||
                    attrName.errors?.pattern || attrDName.errors?.pattern || attrODName.errors?.pattern" (click)="addAttributeList()">Add</button>
                  </div>

                  <!-- <div class="col-md-12 form-group" *ngIf="!isEditAttribute">
                    <button type="button" class="btn btn-navy" 
                      (click)="addAttributeList()">Add</button>
                  </div> -->
                </div>
              </ng-template>
              <div class="row upload-section" *ngIf="formValues.isBulkUpload === 2">
                <div class="col-md-12 form-group">
                  <a href="assets/template/Input_Template.xlsx" class="btn btn-primary btn-sm">Download Template</a> </div>
                <div class="col-md-6 form-group">
                  <label for="collegeName">Upload Attribute File <span class="text-danger">*</span></label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)="uploadBulk($event, 1)" id="customFile">
                    <label class="custom-file-label" for="customFile">{{fileName}}</label>
                  </div>
                </div>
              </div>

              <div class="" *ngIf="formValues.isBulkUpload === 3">

                <div class="col-md-6 pl-0 mb-2">
                  <div class="table-responsive  font-12">
                    <!-- ptable -->
                    <p-table #dt class="p-table-grid" [columns]="cols" id="groupTable" [value]="defaultAttribute" [paginator]="false" [(selection)]="selDefAttribute"
                      dataKey="attributeName" [rowsPerPageOptions]="[5,10,25,50,100,500]" [rows]="10" rowHover="true" sortMode="multiple"
                      [responsive]="true" [globalFilterFields]="[]">

                      <ng-template pTemplate="header">
                        <tr>
                          <th class="" style="width: 3em;">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th>Default Attribute Name</th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-dattr>
                        <tr class="rounded mb-2">

                          <td>
                            <p-tableCheckbox [value]="dattr"></p-tableCheckbox>
                          </td>
                          <td>{{dattr.attributeName}}</td>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                          <td class="text-center" [attr.colspan]="2">
                            <b>No records found</b>
                          </td>
                        </tr>
                      </ng-template>

                    </p-table>
                    <!-- ptable -->


                  </div>
                </div>

                <button type="button" class="btn btn-navy mt-2" [disabled]="selDefAttribute.length === 0" (click)="defaultAttrAdd()">Add</button>
              </div>
              <div class="row mb-4 ">
                <div class="col-md-12 form-group" autocomplete="off">
                  <div class="card shadow-none border my-2">
                    <div class="card-header">
                      <h5>Attribute List</h5>
                    </div>
                    <!-- <div class="card-body p-0" cdkDropList (cdkDropListDropped)="drop($event)"> -->
                    <div class="card-body p-0">

                      <div class="p-1">
                        <input class="form-control" [(ngModel)]="attrList[0].searchKey" autocomplete="off" placeholder="Search" />

                        <div class="attribute-height" cdkDropList [cdkDropListData]="attrList[0].maingroup" (cdkDropListDropped)="drop($event, attrList[0].maingroup)">

                          <table class="table attr-table  m-0">
                            <thead>
                              <tr>
                                <th>SI.NO</th>
                                <th>Attribute Name</th>
                                <th>Attribute Type</th>
                                <th>Display Name</th>
                                <th>Output Display Name</th>
                                <th class="text-center">Output Flag</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="rounded mb-2" *ngFor="let atr of attrList[0].maingroup | searchf : attrList[0].searchKey; let ix = index" cdkDrag
                                (cdkDragStarted)="test($event, atr, attrList[0].maingroup)" (click)="onKeyDown($event, atr, attrList[0].maingroup)"
                                [ngClass]="{'selected':atr.selected}">
                                <div *cdkDragPreview class="cdk-preview border p-0">
                                  <div *ngFor="let s of stored" class="border p-2">{{s.attributeName}}</div>
                                </div>

                                <td class="sno">{{ix + 1}}

                                </td>
                                <td>{{atr.attributeName}}</td>
                                <td>{{atr.selAttrTypes.attributeTypeName}}</td>
                                <td>{{atr.displayName}}</td>
                                <td>{{atr.opdisplayName}}</td>
                                <td class="text-center"><i *ngIf="atr.flag" class="fa fa-flag text-success"></i></td>
                                <td class="text-center">
                                  <a href="javascript:void(0);" class="text-secondary ">
                                      <span class="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v float-right " ></i>
                                      </span>
                                      <div class="dropdown-menu dropdown-menu-right" >
                                        <a class="dropdown-item" href="javascript:void(0)" *ngIf="!atr.flag" (click)="addOrRemoveFlag(atr,$event)"
                                        title="Add Flag">Add Output Flag</a>
                                  <a class="dropdown-item" href="javascript:void(0)" *ngIf="atr.flag" (click)="addOrRemoveFlag(atr,  $event)" title="Remove Flag">Remove Output Flag</a>
                                  <a class="dropdown-item" href="javascript:void(0)" *ngIf="atr.isDefaultAttribute !== 1" (click)="editAttribute(atr ,ix, attrList[0].maingroup,  $event)"
                                    title="Edit" data-toggle="modal" data-target="#adduser">Edit Attribute</a>

                                  <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delAttribute" (click)="deleteAttributeModalOpen(attrList[0].maingroup, ix)">Delete Attribute</a>

                        </div>
                        </a>
                        </td>
                        </tr>

                        </tbody>
                        </table>





                      </div>
                    </div>



                  </div>
                </div>


                <div class="input-group mb-1 p-0 col-md-4">

                  <p-autoComplete [(ngModel)]="grpieName" class="mr-3" [maxlength]="200" [suggestions]="groupNameSuggestion" (completeMethod)="search($event)"></p-autoComplete>

                  <!--<input type="text" #attri class="form-control mr-3" id="attr" maxlength="200" placeholder="New Group Name" (keyup)="grpName(attri.value)">-->

                  <div class="input-group-append">
                    <button type="button" class="btn btn-navy" [disabled]="onlySpecialchars(grpieName) ? true : false" (click)="addSubGroup(grpieName)">Add</button>
                  </div>

                </div>
                <div *ngIf="isCheckGrpName == 'required'" class="error">
                  Please enter a group name
                </div>
                <div *ngIf="isCheckGrpName == 'numeric'" class="error">
                  Group name should not be numeric only
                </div>

                <div *ngIf="isCheckGrpName != 'numeric' && isCheckGrpName != 'required' && onlySpecialchars(grpieName)" class="error">
                  Special character only not allowed in group name
                </div>

                <div *ngIf="isCheckGrpName != 'numeric' && isCheckGrpName != 'required' && !onlySpecialchars(grpieName) && isCheckGrpName == 'specialCharNumeric'"
                  class="error">
                  Group name must contain atleast one alphabets
                </div>
              </div>
            </div>
            <!-- dynamic section start -->
            <div class="container-fluid p-0 " *ngIf="groups.length > 0">
              <div class="row">
                <div class="col-md-3 pl-1 pr-0 tree-section">
                  <p-tree [value]="groups" [ngStyle]="{'width': '100%'}" [draggableNodes]="true" [droppableNodes]="true" draggableScope="self"
                    droppableScope="self" (onNodeDrop)="onNodeDrop($event)">
                    <ng-template let-node pTemplate="default">
                      <div class="" style="cursor:pointer">
                        <label for="node{{node.id}}" style="cursor:pointer"><input type="checkbox" id="node{{node.id}}"[(ngModel)]="node.isSelected" [checked]="node.isSelected" (click)="nodeisSelected(node)" name="node.label">&nbsp;&nbsp; {{node.label}}</label>
                      </div>
                    </ng-template>
                  </p-tree>
                </div>
                <div class="col-md-9   pl-0 pr-1 sg-div">

                  <div class="w-100 h-100 border ">

                    <div id="accordiond{{id}}" class="w-100" *ngFor="let g of dragableGroups; let id = index">
                      <div class="card ">
                        <div class="card-header" id="headingOned{{id}}" data-toggle="collapse" [attr.data-target]="'#collapseOned'+id">
                          <h5 class="mb-0">
                            <div class="attribute-head parent-atr-head" title="{{g.groupName}}">
                              {{g.groupName}}


                            </div>
                          </h5>
                        </div>

                        <div id="collapseOned{{id}}" class="collapse show">
                          <div class="card-body">
                            <div class="form-row group" autocomplete="off">
                              <!-- groiup 1 -->
                              <div class="col-md-4" *ngFor="let sg of g.child; let ind = index">
                                <div class="card shadow-none border my-2">
                                  <div class="card-header">
                                    <h5 class="attribute-head" title="{{sg.groupName}}">{{sg.groupName}}</h5>
                                    <div class="dropdown float-right">
                                      <span class="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v float-right mr-2 mt-2" ></i>
                                          </span>
                                      <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="openaddSgModal(sg, g, 0, 'add')" data-toggle="modal" data-target="#addSubgroup">Add sub group</a>
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="openaddSgModal(sg, g, 1, 'edit')" data-toggle="modal" data-target="#addSubgroup">Edit {{ sg.parentSubGroupName != null && sg.parentSubGroupName != '' ? 'sub group' : 'group' }} name</a>
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="alertdeletegroup(sg, g.child, ind , id)" data-toggle="modal"
                                          data-target="#deletegroup">Delete {{ sg.parentSubGroupName != null && sg.parentSubGroupName != '' ? 'sub group' : 'group' }}</a>

                                      </div>
                                    </div>

                                  </div>
                                  <div class="card-body p-0">
                                    <div class="p-1">
                                      <input class="form-control" [(ngModel)]="sg.searchKey" autocomplete="off" placeholder="Search" />
                                      <div class="attribute-height" cdkDropList [cdkDropListData]="sg.attributeList" (cdkDropListDropped)="drop($event, sg.attributeList)">
                                        <table class="table attr-table m-0">
                                          <tbody>
                                            <tr cdkDrag (cdkDragStarted)="test($event, atr, sg.attributeList)" (click)="onKeyDown($event, atr, sg.attributeList)" [ngClass]="{'selected':atr.selected}"
                                              *ngFor="let atr of sg.attributeList | searchf :sg.searchKey; let ix = index"
                                              class="ex-drag">

                                              <td class="sno-small">{{ix + 1}}
                                                <div *cdkDragPreview class="cdk-preview border p-0">
                                                  <div *ngFor="let s of stored" class="border p-2">{{s.attributeName}}</div>
                                                </div>
                                              </td>
                                              <td>{{atr.attributeName}}</td>
                                              <td class="text-right"><i *ngIf="atr.flag" class="fa fa-flag text-success"></i></td>
                                              <td class="text-right">
                                                <a href="javascript:void(0);" class="text-secondary ">
                                                    
                                                      <span class="" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v float-right " ></i>
                                                      </span>
                                                      <div class="dropdown-menu dropdown-menu-right" >
                                                        <a class="dropdown-item" href="javascript:void(0)" *ngIf="!atr.flag" (click)="addOrRemoveFlag(atr,$event)"
                                        title="Add Flag">Add Output Flag</a>
                                                <a class="dropdown-item" href="javascript:void(0)" *ngIf="atr.flag" (click)="addOrRemoveFlag(atr,  $event)" title="Remove Flag">Remove Output Flag</a>
                                                <a class="dropdown-item" href="javascript:void(0)" *ngIf="atr.isDefaultAttribute !== 1" (click)="editAttribute(atr ,ix, sg.attributeList,  $event)"
                                                  title="Edit" data-toggle="modal" data-target="#adduser">Edit Attribute</a>

                                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#delAttribute" (click)="deleteAttributeModalOpen(sg.attributeList, ix)">Delete Attribute</a>

                                      </div>
                                      </a>
                                      </td>
                                      </tr>
                                      </tbody>
                                      </table>
                                    </div>

                                  </div>

                                </div>
                              </div>
                              <!-- group 1end -->
                            </div>





                            <!-- loop -->
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- accordion  end -->
                  <!-- looop remove -->


                </div>

              </div>
            </div>
          </div>
          <!-- dynamic section end -->
          <div class="row">
            <div class="col-12">
              <button type="button" class="btn btn-navy mt-2" (click)="saveAttributeGroups()">Save</button>
            </div>
          </div>
          <!-- Tab Content1 Ends-->
        </div>
        <div class="tab-pane fade show" id="nav-ftp" role="tabpanel" aria-labelledby="nav-ftp-tab">
          <!-- Tab Content1 Starts-->
          <form [formGroup]="ftpForm" (ngSubmit)="ftpSubmitForm(ftpForm)" autocomplete="off">
            <div class="col-md-6 form-group align-self-end">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" formControlName="ftpActive" (click)="configClick('FTP', 'input')" value="input"
                  name="ftpActive" class="custom-control-input" [(ngModel)]="ftpActive">
                <label class="custom-control-label" for="customRadioInline1">Input</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" value="output" formControlName="ftpActive" (click)="configClick('FTP', 'output')"
                  name="ftpActive" class="custom-control-input" [(ngModel)]="ftpActive">
                <label class="custom-control-label" for="customRadioInline2">Output</label>
              </div>
              <div *ngIf="submitForm && ftpForm.controls['ftpActive'].errors?.required ? true: false" class="error">
                Please select a configuration
              </div>


            </div>

            <div class="row form-group">
              <label for="ha" class="col-md-3 col-lg-2 align-self-center">Host Address</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" formControlName="ftpHostAddress" name="ftpHostAddress" autocomplete="off" id="ha"
                  [(ngModel)]="ftpHostAddress">

                <div *ngIf="submitForm && ftpForm.controls['ftpHostAddress'].errors?.required ? true: false" class="error">
                  Please enter a host address
                </div>
                <div *ngIf="submitForm && !ftpForm.controls['ftpHostAddress'].errors?.required && ftpForm.controls['ftpHostAddress'].errors?.pattern"
                  class="error">
                  Invalid host address
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="uname" class="col-md-3 col-lg-2 align-self-center">Username</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" formControlName="ftpUserName" pattern="[a-zA-Z0-9]+$" name="ftpUserName" autocomplete="off"
                  id="uname" [(ngModel)]="ftpUserName">
                <div *ngIf="submitForm && ftpForm.controls['ftpUserName'].errors?.required ? true: false" class="error">
                  Please enter a username
                </div>
                <div *ngIf="submitForm && !ftpForm.controls['ftpUserName'].errors?.required && ftpForm.controls['ftpUserName'].errors?.pattern"
                  class="error">
                  Special characters or space not allowed in username
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpUserName'].errors?.required && !ftpForm.controls['ftpUserName'].errors?.pattern && ftpForm.controls['ftpUserName'].errors?.nonNumeric"
                  class="error">
                  Username should not be numberic only
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpUserName'].errors?.required && !ftpForm.controls['ftpUserName'].errors?.pattern && !ftpForm.controls['ftpUserName'].errors?.nonNumeric && ftpForm.controls['ftpUserName'].errors?.maxlength ? true: false"
                  class="error">
                  Username must be lessthan 50 characters
                </div>
              </div>
            </div>


            <div class="row form-group">
              <label for="pword" class="col-md-3 col-lg-2 align-self-center">Password</label>
              <div class="col-md-6 col-lg-4">
                <input type="password" class="form-control" formControlName="ftpPassword" autocomplete="off" id="pword" [(ngModel)]="ftpPassword"
                  (input)="ValidatePassword(ftpForm.controls['ftpPassword'].value)">
                <div *ngIf="submitForm && ftpForm.controls['ftpPassword'].errors?.required ? true: false" class="error">
                  Please enter a password
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpPassword'].errors?.required && PasswordErrorMessage != 'true'" class="error">
                  {{ PasswordErrorMessage }}
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="port" class="col-md-3 col-lg-2 align-self-center">Port</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" formControlName="ftpPort" (keypress)="numberOnly($event)" pattern='([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$'
                  autocomplete="off" id="port" [(ngModel)]="ftpPort">
                <div *ngIf="submitForm && ftpForm.controls['ftpPort'].errors?.required ? true: false" class="error">
                  Please enter a port
                </div>
                <div *ngIf="submitForm && !ftpForm.controls['ftpPort'].errors?.required && ftpForm.controls['ftpPort'].errors?.pattern" class="error">
                  Invalid Port number
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpUserName'].errors?.required && !ftpForm.controls['ftpPort'].errors?.pattern && ftpForm.controls['ftpPort'].errors?.maxlength ? true: false"
                  class="error">
                  Port must be lessthan 50 characters
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="port" class="col-md-3 col-lg-2 align-self-center">Path</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" formControlName="ftpPath" autocomplete="off" id="path" [(ngModel)]="ftpPath">
                <div *ngIf="submitForm && ftpForm.controls['ftpPath'].errors?.required ? true: false" class="error">
                  Please enter a path
                </div>
                <div *ngIf="submitForm && !ftpForm.controls['ftpPath'].errors?.required && !filepathCheck(ftpPath)" class="error">
                  Please enter an valid path
                </div>

              </div>
            </div>

            <div class="row form-group">
              <label for="port" class="col-md-3 col-lg-2 align-self-center">File</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" maxlength="50" (input)="checkFileName(ftpFile)" formControlName="ftpFile" autocomplete="off"
                  id="file" [(ngModel)]="ftpFile">
                <div *ngIf="submitForm && ftpForm.controls['ftpFile'].errors?.required ? true: false" class="error">
                  Please enter a file
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpFile'].errors?.required && ftpForm.controls['ftpFile'].errors?.nonNumeric"
                  class="error">
                  File name should not be numberic only
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpFile'].errors?.required && !ftpForm.controls['ftpFile'].errors?.nonNumeric && onlySpecialcharNumber(ftpForm.controls['ftpFile'].value)"
                  class="error">
                  File name must contain atleast one alphabets
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpFile'].errors?.required && !ftpForm.controls['ftpFile'].errors?.nonNumeric && !onlySpecialcharNumber(ftpForm.controls['ftpFile'].value) && ftpForm.controls['ftpFile'].errors?.pattern"
                  class="error">
                  Invalid file name
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpFile'].errors?.required && !ftpForm.controls['ftpFile'].errors?.nonNumeric && !onlySpecialcharNumber(ftpForm.controls['ftpFile'].value) && !ftpForm.controls['ftpFile'].errors?.pattern && errorFile != 'true'"
                  class="error">
                  {{ errorFile }}
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpFile'].errors?.required && !ftpForm.controls['ftpFile'].errors?.nonNumeric && !ftpForm.controls['ftpFile'].errors?.pattern && errorFile == 'true' &&  checkFile === false "
                  class="error">
                  File name should not be numberic only
                </div>

                <div *ngIf="submitForm && !ftpForm.controls['ftpFile'].errors?.required && !ftpForm.controls['ftpFile'].errors?.nonNumeric && !ftpForm.controls['ftpFile'].errors?.pattern && ftpForm.controls['ftpFile'].errors?.maxlength ? true: false && !onlySpecialcharNumber(ftpForm.controls['ftpFile'].value) && checkFile == true"
                  class="error">
                  Port must be lessthan 50 characters
                </div>



              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-navy" *ngIf="isUpdateBtn">Update</button>
              <button type="submit" class="btn btn-navy" *ngIf="!isUpdateBtn">Save</button>
              <button type="button" class="btn btn-danger" (click)="formReset('FTP', ftpForm.value.ftpActive); btnReset();">Clear</button>
            </div>



          </form>
          <!-- Tab Content1 Ends-->
        </div>
        <div class="tab-pane fade show" id="nav-db" role="tabpanel" aria-labelledby="nav-db-tab">
          <!-- Tab Content1 Starts-->

          <form [formGroup]="dbForm" (ngSubmit)="dbSubmitForm(dbForm)" autocomplete="off">
            <div class="col-md-6 form-group align-self-end">

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dbCustomRadioInline1" formControlName="dbActive" (click)="configClick('DB', 'input')" value="input"
                  name="dbActive" class="custom-control-input" [(ngModel)]="dbActive">
                <label class="custom-control-label" for="dbCustomRadioInline1">Input</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="dbCustomRadioInline2" value="output" formControlName="dbActive" (click)="configClick('DB', 'output')"
                  name="dbActive" class="custom-control-input" [(ngModel)]="dbActive">
                <label class="custom-control-label" for="dbCustomRadioInline2">Output</label>
              </div>
              <div *ngIf="submitForm && dbForm.controls['dbActive'].errors?.required ? true: false" class="error">
                Please select a configuration
              </div>
            </div>


            <!--<div class="row form-group">
              <label for="db" class="col-md-3 col-lg-2 align-self-center">Database</label>
              <div class="col-md-6 col-lg-4">
                <select class="custom-select">
                    <option> UDP</option>
                    <option> UDP_NEW</option>
                  </select>
              </div>
            </div>-->

            <div class="row form-group">
              <label for="dbha" class="col-md-3 col-lg-2 align-self-center">Host Address</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" autocomplete="off" formControlName="dbHostAddress" id="dbha" [(ngModel)]="dbHostAddress">
                <div *ngIf="submitForm && dbForm.controls['dbHostAddress'].errors?.required ? true: false" class="error">
                  Please enter a host address
                </div>
                <div *ngIf="submitForm && !dbForm.controls['dbHostAddress'].errors?.required && dbForm.controls['dbHostAddress'].errors?.pattern"
                  class="error">
                  Invalid host address
                </div>
              </div>
            </div>


            <div class="row form-group">
              <label for="dbport" class="col-md-3 col-lg-2 align-self-center">Port</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" autocomplete="off" id="dbport" (keypress)="numberOnly($event)" formControlName="dbPort"
                  [(ngModel)]="dbPort">
                <div *ngIf="submitForm && dbForm.controls['dbPort'].errors?.required ? true: false" class="error">
                  Please enter a port
                </div>
                <div *ngIf="submitForm && !dbForm.controls['dbPort'].errors?.required && dbForm.controls['dbPort'].errors?.pattern" class="error">
                  Invalid Port number
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbPort'].errors?.required && !dbForm.controls['dbPort'].errors?.pattern && dbForm.controls['dbPort'].errors?.maxlength ? true: false"
                  class="error">
                  Port must be lessthan 50 characters
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="dbname" class="col-md-3 col-lg-2 align-self-center">Database Name</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" autocomplete="off" id="dbname" formControlName="dbDatabase" [(ngModel)]="dbDatabase">
                <div *ngIf="submitForm && dbForm.controls['dbDatabase'].errors?.required ? true: false" class="error">
                  Please enter a database name
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbDatabase'].errors?.required && dbForm.controls['dbDatabase'].errors?.pattern"
                  class="error">
                  Special characters or space not allowed in database name
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbDatabase'].errors?.required && !dbForm.controls['dbDatabase'].errors?.pattern && dbForm.controls['dbDatabase'].errors?.nonNumeric"
                  class="error">
                  Database should not be numeric only
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbDatabase'].errors?.required && !dbForm.controls['dbDatabase'].errors?.pattern && !dbForm.controls['dbDatabase'].errors?.nonNumeric && dbForm.controls['dbDatabase'].errors?.maxlength ? true: false"
                  class="error">
                  Database name must be lessthan 50 characters
                </div>

              </div>
            </div>

            <div class="row form-group">
              <label for="dbuname" class="col-md-3 col-lg-2 align-self-center">Username</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" autocomplete="off" id="dbuname" formControlName="dbUserName" [(ngModel)]="dbUserName">
                <div *ngIf="submitForm && dbForm.controls['dbUserName'].errors?.required ? true: false" class="error">
                  Please enter a username
                </div>
                <div *ngIf="submitForm && !dbForm.controls['dbUserName'].errors?.required && dbForm.controls['dbUserName'].errors?.pattern"
                  class="error">
                  Special characters or space not allowed in username
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbUserName'].errors?.required && !dbForm.controls['dbUserName'].errors?.pattern && dbForm.controls['dbUserName'].errors?.nonNumeric"
                  class="error">
                  Username should not be numeric only
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbUserName'].errors?.required && !dbForm.controls['dbUserName'].errors?.pattern && !dbForm.controls['dbUserName'].errors?.nonNumeric && dbForm.controls['dbUserName'].errors?.maxlength ? true: false"
                  class="error">
                  Username must be lessthan 50 characters
                </div>

              </div>
            </div>

            <div class="row form-group">
              <label for="dbpword" class="col-md-3 col-lg-2 align-self-center">Password</label>
              <div class="col-md-6 col-lg-4">
                <input type="password" class="form-control" autocomplete="off" id="dbpword" formControlName="dbPassword" [(ngModel)]="dbPassword"
                  (input)="ValidatePassword(dbForm.controls['dbPassword'].value)">
                <div *ngIf="submitForm && dbForm.controls['dbPassword'].errors?.required ? true: false" class="error">
                  Please enter a password
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbPassword'].errors?.required && PasswordErrorMessage != 'true'" class="error">
                  {{ PasswordErrorMessage }}
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="tname" class="col-md-3 col-lg-2 align-self-center">Table Name</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" autocomplete="off" id="tname" formControlName="dbTableName" [(ngModel)]="dbTableName">
                <div *ngIf="submitForm && dbForm.controls['dbTableName'].errors?.required ? true: false" class="error">
                  Please enter a table name
                </div>
                <div *ngIf="submitForm && !dbForm.controls['dbTableName'].errors?.required && dbForm.controls['dbTableName'].errors?.pattern"
                  class="error">
                  Special characters or space not allowed in table name
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbTableName'].errors?.required && !dbForm.controls['dbTableName'].errors?.pattern && dbForm.controls['dbTableName'].errors?.nonNumeric"
                  class="error">
                  Table name should not be numeric only
                </div>

                <div *ngIf="submitForm && !dbForm.controls['dbTableName'].errors?.required && !dbForm.controls['dbTableName'].errors?.pattern && !dbForm.controls['dbTableName'].errors?.nonNumeric && dbForm.controls['dbTableName'].errors?.maxlength ? true: false"
                  class="error">
                  Table name must be lessthan 50 characters
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-navy" *ngIf="isUpdateBtn">Update</button>
              <button type="submit" class="btn btn-navy" *ngIf="!isUpdateBtn">Save</button>
              <button type="button" class="btn btn-danger" (click)="formReset('DB', dbForm.value.dbActive); btnReset();">Clear</button>
            </div>
          </form>
          <!-- Tab Content1 Ends-->
        </div>
        <div class="tab-pane fade show" id="nav-cloud" role="tabpanel" aria-labelledby="nav-cloud-tab">
          <!-- Tab Content1 Starts-->


          <form [formGroup]="cloudForm" (ngSubmit)="cloudSubmitForm(cloudForm)" autocomplete="off">
            <div class="col-md-6 form-group align-self-end">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="cloudCustomRadioInline1" formControlName="cloudActive" (click)="configClick('CLOUD', 'input')" value="input"
                  name="cloudActive" class="custom-control-input" [(ngModel)]="cloudActive">
                <label class="custom-control-label" for="cloudCustomRadioInline1">Input</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="cloudCustomRadioInline2" value="output" formControlName="cloudActive" (click)="configClick('CLOUD', 'output')"
                  name="cloudActive" class="custom-control-input" [(ngModel)]="cloudActive">
                <label class="custom-control-label" for="cloudCustomRadioInline2">Output</label>
              </div>
              <div *ngIf="submitForm && cloudForm.controls['cloudActive'].errors?.required ? true: false" class="error">
                Please select a configuration
              </div>
            </div>

            <div class="row form-group">
              <label for="cname" class="col-md-3 col-lg-2 align-self-center">Cloud Name</label>
              <div class="col-md-6 col-lg-4">
                <select class="custom-select" formControlName="cloudName" [(ngModel)]="cloudName">
                   <option  [value]="s3" [selected]="cloudName=='s3'"> AWS S3</option>
                  </select>
                <div *ngIf="submitForm && cloudForm.controls['cloudName'].errors?.required ? true: false" class="error">
                  Please select a cloud name
                </div>
              </div>
            </div>


            <div class="row form-group">
              <label for="s3url" class="col-md-3 col-lg-2 align-self-center">S3 URL</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" formControlName="s3Url" autocomplete="off" id="s3url" [(ngModel)]="s3Url">
                <div *ngIf="submitForm && cloudForm.controls['s3Url'].errors?.required ? true: false" class="error">
                  Please enter s3 url
                </div>
                <div *ngIf="submitForm && !cloudForm.controls['s3Url'].errors?.required && !s3pathcheck(s3Url)" class="error">
                  Please enter the valid S3 bucket URL.
                </div>

              </div>
            </div>

            <div class="row form-group">
              <label for="akey" class="col-md-3 col-lg-2 align-self-center">Access Key</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" formControlName="accessKey" autocomplete="off" id="akey" [(ngModel)]="accessKey">
                <div *ngIf="submitForm && cloudForm.controls['accessKey'].errors?.required ? true: false" class="error">
                  Please enter a access key
                </div>
                <div *ngIf="submitForm && !cloudForm.controls['accessKey'].errors?.required && onlySpecialchars(cloudForm.controls['accessKey'].value)"
                  class="error">
                  Special character only not allowed in access key
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['accessKey'].errors?.required && !onlySpecialchars(cloudForm.controls['accessKey'].value) && cloudForm.controls['accessKey'].errors?.nonNumeric"
                  class="error">
                  Access key should not be numeric only
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['accessKey'].errors?.required && !onlySpecialchars(cloudForm.controls['accessKey'].value) && !cloudForm.controls['accessKey'].errors?.nonNumeric && onlySpecialcharNumber(cloudForm.controls['accessKey'].value)"
                  class="error">
                  Access key must contain atleast one alphabets
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['accessKey'].errors?.required && cloudForm.controls['accessKey'].errors?.pattern && !onlySpecialchars(cloudForm.controls['accessKey'].value) && !cloudForm.controls['accessKey'].errors?.nonNumeric && !onlySpecialcharNumber(cloudForm.controls['accessKey'].value)"
                  class="error">
                  Invalid access key
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['accessKey'].errors?.required && !cloudForm.controls['accessKey'].errors?.pattern &&  !onlySpecialchars(cloudForm.controls['accessKey'].value) && !cloudForm.controls['accessKey'].errors?.nonNumeric && cloudForm.controls['accessKey'].errors?.maxlength ? true: false && !onlySpecialcharNumber(cloudForm.controls['accessKey'].value)"
                  class="error">
                  Access key must be lessthan 50 characters
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="akey" class="col-md-3 col-lg-2 align-self-center">Secret Key</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" (input)="onlySpecialchars(cloudForm.controls['secretKey'].value)" formControlName="secretKey"
                  autocomplete="off" id="skey" [(ngModel)]="secretKey">
                <div *ngIf="submitForm && cloudForm.controls['secretKey'].errors?.required ? true: false" class="error">
                  Please enter a secret key
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['secretKey'].errors?.required && onlySpecialchars(cloudForm.controls['secretKey'].value)"
                  class="error">
                  Special character only not allowed in secret key
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['secretKey'].errors?.required && !onlySpecialchars(cloudForm.controls['accessKey'].value) && cloudForm.controls['secretKey'].errors?.nonNumeric"
                  class="error">
                  Secret key should not be numeric only
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['secretKey'].errors?.required && !onlySpecialchars(cloudForm.controls['secretKey'].value) && !cloudForm.controls['secretKey'].errors?.nonNumeric && onlySpecialcharNumber(cloudForm.controls['secretKey'].value)"
                  class="error">
                  Secret key must contain atleast one alphabets
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['secretKey'].errors?.required && !onlySpecialchars(cloudForm.controls['secretKey'].value) && !cloudForm.controls['secretKey'].errors?.nonNumeric && cloudForm.controls['secretKey'].errors?.pattern && !onlySpecialcharNumber(cloudForm.controls['secretKey'].value)"
                  class="error">
                  Invalid secret key
                </div>

                <div *ngIf="submitForm && !cloudForm.controls['secretKey'].errors?.required && !cloudForm.controls['secretKey'].errors?.pattern && !onlySpecialchars(cloudForm.controls['secretKey'].value) && !cloudForm.controls['secretKey'].errors?.nonNumeric && cloudForm.controls['secretKey'].errors?.maxlength ? true: false && !onlySpecialcharNumber(cloudForm.controls['secretKey'].value)"
                  class="error">
                  Secret key must be lessthan 50 characters
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-navy" *ngIf="isUpdateBtn">Update</button>
              <button type="submit" class="btn btn-navy" *ngIf="!isUpdateBtn">Save</button>
              <button type="button" class="btn btn-danger" (click)="formReset('CLOUD', cloudForm.value.cloudActive); btnReset();">Clear</button>
            </div>
          </form>
          <!-- Tab Content1 Ends-->
        </div>
        <div class="tab-pane fade show" id="nav-api" role="tabpanel" aria-labelledby="nav-api-tab">

          <!-- Tab Content1 Starts-->
          <form [formGroup]="apiForm" (ngSubmit)="apiSubmitForm(apiForm)" autocomplete="off">
            <div class="col-md-6 form-group align-self-end">

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="apiCustomRadioInline1" formControlName="apiActive" (click)="configClick('API', 'input')" value="input"
                  name="apiActive" class="custom-control-input" [(ngModel)]="apiActive">
                <label class="custom-control-label" for="apiCustomRadioInline1">Input</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="apiCustomRadioInline2" value="output" formControlName="apiActive" (click)="configClick('DB', 'output')"
                  name="apiActive" class="custom-control-input" [(ngModel)]="apiActive">
                <label class="custom-control-label" for="apiCustomRadioInline2">Output</label>
              </div>
              <div *ngIf="submitForm && apiForm.controls['apiActive'].errors?.required ? true: false" class="error">
                Please select a configuration
              </div>
            </div>


            <div class="row form-group">
              <label for="restapi" class="col-md-3 col-lg-2 align-self-center">REST API Endpoint</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" autocomplete="off" id="restapi" formControlName="restApiEndpoint" [(ngModel)]="restApiEndpoint">
                <div *ngIf="submitForm && apiForm.controls['restApiEndpoint'].errors?.required ? true: false" class="error">
                  Please enter a rest api endpoint
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label for="httprequest" class="col-md-3 col-lg-2 align-self-center">HTTP Request Method</label>
              <div class="col-md-6 col-lg-4">
                <input type="text" class="form-control" autocomplete="off" id="httprequest" formControlName="httpRequest" [(ngModel)]="httpRequest">
                <div *ngIf="submitForm && apiForm.controls['httpRequest'].errors?.required ? true: false" class="error">
                  Please enter a rest api endpoint
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-navy" *ngIf="isUpdateBtn">Update</button>
              <button type="submit" class="btn btn-navy" *ngIf="!isUpdateBtn">Save</button>
              <button type="button" class="btn btn-danger" (click)="formReset('API', apiForm.value.apiActive); btnReset();">Clear</button>
            </div>
          </form>

          <!-- Tab Content1 Ends-->
        </div>
      </div>


    </div>
  </div>
</div>
</div>

</div>
<footer>
  <div class="footer-bottom">
    <p>Copyright © 2020 <span class="text-blue">Unified Data Platform</span> - All rights reserved. </p>
  </div>
</footer>


<!-- edit attribute Modal -->
<div class="modal fade" id="editAttr" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width:1000px" role="document">

    <div class="modal-content">
      <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
      <div class="modal-header">
        <h5 class="modal-title">Edit Attribute</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <ng-container [ngTemplateOutlet]="attrTemplate" [ngTemplateOutletContext]="{formValues:editFormValues}">
          </ng-container>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="submit" class="btn btn-navy" (click)="updateAttribute()">Update</button>
      </div>
    </div>

  </div>
</div>
<!-- edit attribute end -->
<!-- addsubgroup modal-->
<div class="modal fade" id="addSubgroup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">

    <div class="modal-content">
      <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
      <div class="modal-header">
        <h5 class="modal-title"><span *ngIf="!subGroupUpdate">Add</span><span *ngIf="subGroupUpdate">Edit</span> {{ dynamicName }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row form-group">
            <label style="padding-left: 16px;">{{ dynamicName }} name</label>
            <div class="col-md-12 col-lg-12">
              <input type="text" id="sgName" #sgName class="form-control" maxlength="200" autocomplete="off" (input)="subGrpName(sgName.value)">
              <div *ngIf="isCheckSubGrpName == 'required'" class="error">
                Please enter a sub group name
              </div>
              <div *ngIf="isCheckSubGrpName == 'numeric'" class="error">
                Sub group name should not be numeric only
              </div>

              <div *ngIf="isCheckSubGrpName != 'numeric' && isCheckSubGrpName != 'required' && onlySpecialchars(sgName.value)" class="error">
                Special character only not allowed in sub group name
              </div>

              <div *ngIf="isCheckSubGrpName != 'numeric' && isCheckSubGrpName != 'required' && !onlySpecialchars(sgName.value) && isCheckSubGrpName == 'specialCharNumeric'"
                class="error">
                Sub group name must contain atleast one alphabets
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="submit" class="btn btn-navy" *ngIf="!subGroupUpdate" (click)="addSubgroupModal(sgName.value)">Add</button>
        <button type="submit" class="btn btn-navy" *ngIf="subGroupUpdate" (click)="editSubGroupName(sgName.value)">Update</button>
      </div>
    </div>

  </div>
</div>

<!-- addsubgroup modal -->
<!-- delete alert groups -->
<div class="modal fade" id="deletegroup" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">

    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close del-close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid pt-5">
          <p class="text-center">Are you sure want to delete the <b>{{  cmgroup.groupName | slice:0:26 }} <span ng-show="cmgroup.groupName.length > 26">...</span></b>            group as well as sub group? </p>
        </div>

      </div>
      <div class="modal-footer text-center">
        <span class="m-auto">
          <button type="button" class="btn btn-danger mr-3" data-dismiss="modal" >No</button>
          <button type="submit" class="btn btn-navy" (click)="deleteGroup()">Yes</button>
        </span>


      </div>
    </div>

  </div>
</div>

<!-- delete alert groups -->
<!-- delAttribute -->
<div class="modal fade" id="delAttribute" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">

    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close del-close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid pt-5">
          <p class="text-center">Are you sure want to delete the <b>{{delAttributeModal.name}}</b> attribute? </p>
        </div>

      </div>
      <div class="modal-footer text-center">
        <span class="m-auto">
          <button type="button" class="btn btn-danger mr-3" data-dismiss="modal" >No</button>
          <button type="submit" class="btn btn-navy" (click)="delAttribute()">Yes</button>
        </span>


      </div>
    </div>

  </div>
</div>