.v-tabs{
	background: #f2f2f2;
	padding:.5rem;
}
.v-tabs .nav-link.active{
	background: #e9e9e9;
	border-radius: 20px;
	color: #09abdd;
}
.v-tabs .nav-link{
	font-size: 12px;
	margin:.3rem 0;
	color: #828E98;
	cursor:pointer;
}
.modal-header h5:before {
  
    /* border-top: 45px solid transparent; */
    
}
.modal-header{
    position: relative;
    left: -1px;
}
.card-body.card-columns{
    height:198px;
    overflow-y:auto;
   
}
.user-title{
    font-size: 12px;
    text-transform: uppercase;
    color: #09abdd;
    
    margin-bottom: 0;
}
.ui-multiselect-label.ui-corner-all{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-group-section div {
    width:200px;margin-bottom:0.5em;
}
.user-group-section i{
    font-size:10px;
}
.modal-table{
	overflow:auto;
	height:200px;
	border-top:0.5px solid #c8c8c8 !important;
}

.modal .tab-pane{
	border-bottom:0.5px solid #c8c8c8 !important;
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	
	box-shadow: 0px 2px 4px 0 rgba(32,33,36,0.10);
}
.scrolling-table-div{
	overflow-x:auto;overflow-y:hidden
}


@media screen and (max-width: 64em) {
	:host ::ng-deep .ui-table .ui-table-thead > tr > th {
		top: 99px;
	}
}