<div class="content-section">
  <nav aria-label="breadcrumb" class="breadcrumb-section">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html" class="home"><i class="fas fa-home" aria-hidden="true"></i></a></li>
      <li class="breadcrumb-item"><a href="index.html">Role Management</a></li>
    </ol>
  </nav>
  <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>User Role</h5>
          <a href="javascript:void(0);" class="btn-add" data-toggle="modal" (click)="openModal()" data-target="#adduser">Add New</a>          </div>
        <div class="card-body">

          <div class="form-inline mb-3">
            <label for="uname" class="mr-3">Project</label>
            <!-- <select class="custom-select">
              <option value="p1">LN Tier Maintenance</option>
              <option value="p2">LN Tier</option>
            </select> -->
            <p-dropdown [options]="projects" name="value" dropdownIcon="pi pi-caret-down" [(ngModel)]="selectedProject" [style]="{'width':'100%','border-radius':'0','border':'1px solid #ced4da'}">
              <ng-template let-item pTemplate="selectedItem">
                <span>{{item.label}}</span>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <div>{{item.label}}</div>
              </ng-template>
            </p-dropdown>
          </div>

          <div class="row">
            <div class="col-3">
              <div class="nav flex-column nav-pills v-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <span *ngFor="let role of roles"><a  class="nav-link" [ngClass]="{'active': role.id === tabId ? true : false}" (click)="tabSelect(role)"  role="tab">{{role.roleName}}</a></span>

              </div>
            </div>
            <div class="col-9">
              <div class="tab-content border-0 p-0" id="v-pills-tabContent">
                <div *ngFor='let role of roles'>
                  <div class="tab-pane" *ngIf="role.id == tabId" role="tabpanel">

                    <div class="form-inline float-right form-group">
                      <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="exportPdf('pm')">PDF</a>
                          <a class="dropdown-item" (click)="exportCSV('pm')">CSV</a>
                          <a class="dropdown-item" (click)="exportExcel('pm')">Excel</a>
                        </div>
                      </div>
                      <input pInputText type="text" (input)="pm.filterGlobal($event.target.value, 'contains')" class="form-control" placeholder="Search">

                    </div>
                    <div class="table-responsive scrolling-table-div">
                      <!-- dynamic prime table -->
                      <p-table #pm class="" [value]="tableRoleUserList[role.id]?.data" [paginator]="true" [(selection)]="selectedTableUserWRole"
                        [rowsPerPageOptions]="[5,10,25,50,100,500]" [rows]="10" rowHover="true" sortMode="multiple" [responsive]="true"
                        exportFilename="UserGroupList_Details" [globalFilterFields]="['name']">

                        <ng-template pTemplate="header">
                          <tr>
                            <th class="w-3em" >
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Created By</th>
                            <th class="w-9em" class="text-center">Created On</th>
                            <th class="w-6em" class="text-center">Action</th>

                          </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-user>
                          <tr>
                            <td>
                              <p-tableCheckbox [value]="user"></p-tableCheckbox>
                            </td>
                            <td>{{user?.name}}</td>
                            <td>{{user?.mailId}}</td>
                            <td>{{user?.createdBy}}</td>
                            <td>{{user?.insertedDateTime | date: 'dd/MM/y'}}</td>
                            <td class="text-center">
                              <a href="javascript:void(0);" class="text-danger" title="Delete" (click)="delUserFromProject(user)">
          <i class="fas fa-trash-alt"></i>
        </a>
                            </td>
                          </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                          <tr>
                            <td class="text-center" colspan="6">
                              <b>No records found</b>
                            </td>
                          </tr>
                        </ng-template>

                      </p-table>
                      <!-- dynamic prime table -->
                    </div>
                    <button class="btn btn-danger mt-3" [disabled]="!selectedTableUserWRole.length" (click)="delMultiUserFromProject()" type="button"> Delete </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add / Edit User Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="form-inline mb-3">
          <label for="uname" class="mr-3">Project</label>
          <!-- <select class="custom-select">
						<option value="p1">LN Tier Maintenance</option>
						<option value="p2">LN Tier</option>
          </select> -->
          <p-dropdown [options]="projects" name="value" dropdownIcon="pi pi-caret-down" [(ngModel)]="selectedProject" [style]="{'width':'100%','border-radius':'0','border':'1px solid #ced4da'}">
            <ng-template let-item pTemplate="selectedItem">
              <span>{{item.label}}</span>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>{{item.label}}</div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="nav flex-column nav-pills v-tabs" role="tablist" aria-orientation="vertical">
              <span *ngFor="let role of roles; let y = index"><a class="nav-link" [ngClass]="{'active': role.id === this.mtabId ? true : false}" (click)="setactiveTabInModal(role, y)" >{{role.roleName}}</a></span>

            </div>
          </div>
          <div class="col-9">
            <div class="tab-content border-0 p-0">
              <div *ngFor='let role of roles; let y = index'>
                <div class="tab-pane" *ngIf="role.id == mtabId" role="tabpanel" aria-labelledby="v-pills-home-tab1">

                  <div class="form-inline float-right form-group">
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" class="form-control" placeholder="Search">
                  </div>
                  <div class="table-responsive modal-table">
                    <!-- dynamic prime table -->
                    <p-table #dt class="" [value]="cloneOfUsers[y]" [paginator]="true" [(selection)]="selectedTableUser" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                      [rows]="10" rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="UserGroupList_Details"
                      (onHeaderCheckboxToggle)="headerCheckboxToggle($event)" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                      [globalFilterFields]="['name']">

                      <ng-template pTemplate="header">
                        <tr>
                          <th class="w-3em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                          </th>
                          <th>Name</th>
                          <th>Email ID</th>


                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-user>
                        <tr>
                          <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                          </td>
                          <td>{{user.name}}</td>
                          <td>{{user.mailId}}</td>

                        </tr>
                      </ng-template>

                      <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                          <td class="text-center" colspan="3">
                            <b>No records found</b>
                          </td>
                        </tr>
                      </ng-template>

                    </p-table>
                    <!-- dynamic prime table -->
                  </div>
                  <!-- <button class="btn btn-primary my-3" (click)="addUserInLocal()" type="button"> Add </button> -->
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="card border shadow-none">

              <div class="card-body p-2 card-columns">

                <div class="user-group-section" *ngFor="let userdata of selectedUserwithRole">
                  <div class="card shadow-none" *ngIf='userdata.userList.length === 0 ? false : true'>
                    <div class="user-title">{{userdata.roleName}}</div>
                    <div *ngFor="let user of userdata.userList">{{user.userName}} <a href="javascript:void(0)" class="text-danger float-right" (click)="delUserFromGroup(userdata, user)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-navy" (click)="updateUser()">Save</button>
      </div>
    </div>
  </div>
</div>