
<div class="bg-white">
<header>
	<div class="animated-bg"><i></i><i></i><i></i></div>
	<nav class="navbar navbar-expand-lg">
	<div class="container">
  <a class="navbar-brand" href="#"><img src="assets/img/udp-logo-white.png" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#main-banner">Home</a>
      </li>
	 <li class="nav-item">
        <a class="nav-link" href="#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pricing">Subscribe</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="#casestudy">Case Study</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/login">Login/Register</a>
      </li>      
    </ul>
  </div>
 </div>
</nav>
	</header>
	<div class="main-banner" id="main-banner">
	<div class="container">
		<div class="row banner-content">
			<div class="col-md-7">
			<h1>Unified Data Platform</h1>
			<h3>We serve the data that you Trust</h3>
			<p>Leverage our top-notch technology excellence, industry expertise and best practices to onboard applications or products that solve your unique data needs across your organization.</p>
			</div>
		<div class="col-md-5 p-5 position-relative">
			<div class="animated-bg2"><i></i><i></i><i></i></div>
			<img src="assets/img/server.png" class="img-fluid banner-img">
		</div>
		</div>
	</div>
	</div>
	<div class="banner-bottom" id="about">
	<div class="container-fluid">
		<div class="row">
		<div class="col-lg-5 why-section">
			<div class="why-info">
			<h6 class="why-title">Why Us?</h6>			
			<ul>
				<li><span></span>Cost effective solutions for complex digital landscapes</li>
				<li><span></span>Great customer execution experience by operating standards and governance</li>
				<li><span></span>Long term strategic partnership with customers for on-going support</li>
				<li><span></span>Comprehensive and robust business capability models across functions</li>
				<li><span></span>Innovative wings to adopt successful approaches for new technologies</li>
			</ul>
			</div>
			<div class="why-img">
			<img src="assets/img/slider1.jpg" class="img-fluid">
			</div>
		</div>
		<div class="col-lg-7 deals-section">
			<h1 class="page-title">Data and Info Vending/ Trading – Data deals:</h1>
			<p class="mb-4">Real time, near real time and historical data - The oil of 21 st Century decisions and policies</p>
			<div class="row">
			<div class="col-md-6">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Market Data</h6>
					<p>The information on financial products &amp; assets and the financial condition of the global market are
most wanted for enlightened decision making of investors and agents.</p>
					</div>
				</div>
				</div>
			<div class="col-md-6">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Real Estate Data</h6>
					<p>One of the largest markets with the rapidly changing details about the properties of various types
like residential, commercial and industrial is the real estate.</p>
					</div>
				</div>
				</div>
				<div class="col-md-6">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Regulation Data</h6>
					<p>The government or regulatory bodies, commissions, insurance agencies, financial corporations
arbitrarily distribute their regulations.</p>
					</div>
				</div>
				</div>
				<div class="col-md-6">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Alternate Data</h6>
					<p>The data from non-conventional data sources like press release, financial reports, for
confirmation.</p>
					</div>
				</div>
				</div>
				
			</div>
		</div> 
		</div>
		</div>
	</div>
	<section class="data-service">
		<div class="container">
		<div class="row">
			<div class="col-12">
			<h6 class="page-main-title">Data Services</h6>
			<h2 class="page-title mb-5">Every data has a story to tell if it is in right format</h2> 
			</div>
			</div>
			<div class="row">
			<div class="col-md-6 pr-md-5">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Data Source Abstraction</h6>
					<p>Optimize your data supply chain. We help you to identify the data sources with the experienced web
						researchers; the right data points which can solve your business needs. Our approach on
						prospective data collection with the restrained methodology assures the quality. The extensive
						support of full data or incremental data extraction with frequent refresh on existing data solution
						solves different data needs of the market.</p>
					<a href="javascript:void(0);" class="more-link">More details</a>
					</div>
				</div>
				</div>
				<div class="col-md-6 pr-md-5">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Data Quality Services</h6>
					<p>Standardize and correct data in minimal time with the systematic approach for identifying and
						correcting the inconsistent, in complete, in accurate, non-uniform, duplicate data points. The
						platform enables the user to amend, correct, delete the data in efficient mode with the human
						eyeballing, validate the data with the preconfigured – standardized data definitions rule engine and
						hygiene check plug ins for quality check. The feature of data refinement and enrichment makes the
						data more reliable and context sensitive.</p>
					<a href="javascript:void(0);" class="more-link">More details</a>
					</div>
				</div>
				</div>
				<div class="col-md-6 pr-md-5">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Data Aggregation</h6>
					<p>High quality data arrives from multiple sources, multiple architecture, and here is the service that
						collates the data for you.</p>
					<a href="javascript:void(0);" class="more-link">More details</a>
					</div>
				</div>
				</div>
				<div class="col-md-6 pr-md-5">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Data Profiling</h6>
					<p>We organize your data effectively for better digital transformations with apt data strategies.
						We help you to transform unstructured data to structured data to enhance business insights. Data
						are remodelled from the source specific format to the common accessible, ready for consumption
						format.</p>
					<a href="javascript:void(0);" class="more-link">More details</a>
					</div>
				</div>
				</div>
				<div class="col-md-6 pr-md-5">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Data Analytics and Visualization</h6>
					<p>Transform the data into the analytical enabled format, discover the patterns and find valuable
						insights from data is the stipulation of the under current business decisions. Descriptive, prescriptive
						or predictive analytics are different avenues of analytics the team works on for having any industry
						to have their own resolutions and policies. The ML based prediction epochs renaissance of
						analytics because of its continuous learning and improvements.</p>
					<a href="javascript:void(0);" class="more-link">More details</a>
					</div>
				</div>
				</div>
				<div class="col-md-6 pr-md-5">
				<div class="card">
				<div class="card-body">
					<h6 class="deal-title">Synthetic Data with AI and ML</h6>
					<p>The data is not generated by real time events, but artificially generated ones are being generated
						through the synthetic data generation techniques. It gives the head start data mart for any artificial
						intelligence learning curve. Easier, cheaper than that of hand labelling. By continuous improvement
						organization practise, the synthetic data is being addressed with the “Real time gap” and data is
						more reliable for any training sets. Very matured in-house guided domain randomization with
						gazetted knowledge discovery techniques of our research team makes this possible.</p>
						<a href="javascript:void(0);" class="more-link">More details</a>					
					</div>
				</div>
				</div>
			</div>			
		</div>	
	</section>
	<section class="platform-section">
	<div class="container">
		<div class="row">
		<div class="col-md-6">
			<img src="assets/img/laptop.png" class="img-fluid">			
		</div>
			<div class="col-md-6 px-md-5">
			<div class="owl-carousel owl-theme platform-carousel">
            <div class="item">
              <div class="card">
				<div class="card-body">
				  <h2 class="text-blue mb-4">Recognize the customer’s unique data needs</h2>
					<p>Identify the customer’s business goals of the end customers. We have to translate the identified
					business goals as the base data goals. Every business analytics has the different pattern of data
					essentials. The available historical data with feedback is of great importance. In what intervals and
					in what pattern you need the data for achieving the business goals is the next resolution point. Is
					there any way of automating the data collection, data transformation and data verification could be
					the subsequent seek.</p>
				  </div>
				</div>
            </div>
            <div class="item">
              <div class="card">
				<div class="card-body">
				  <h2 class="text-blue mb-4">Automation Process setup with data workflows</h2>
					<p>The modes and protocols of data management are to set the guidelines of data collections, data
						preparation and maintain the consistency of data. ML enabled automation of data workflow for
						data management is being setup with the progressive cognitive approach. The iterative process of
						fine tuning the value predictions and suggestions from different sources helps to reduce the effort of
						manual data curator. Integrate all the data sources by the clean engagement process with
						governance, so that data to the stakeholders are disseminated by the trusted channel.</p>
				  </div>
				</div>
            </div>
            <div class="item">
              <div class="card">
				<div class="card-body">
				  <h2 class="text-blue mb-4">Data supply chain scheduling and delivery</h2>
					<p>Linked tools and platforms help the data workflow to get scheduled and executed for different
						data context on timely basis as jobs. The standardized and authorized data delivery at right time is
						the overall goal of this process. The predictive analytics on the data supply chain helps to re-plan on
						the data demand. The pre-configured rules applied offline on data or real time interaction with data
						assures the hygienic data.</p>
				  </div>
				</div>
            </div>
            <div class="item">
              <div class="card">
				<div class="card-body">
				  <h2 class="text-blue mb-4">Value Chain Visibility through audit</h2>
					<p>Transparency of the process with the where about the data is made available for the end customer
						for monitoring is far more important for the business decisions. The stage or step of the data
						workflow with the intermediate results and the time taken for the process are the key measures
						being portrayed for any customer. Data delivery status dashboard helps the end customer to have a
						consolidated look on the user activity log, tickets raised on failure, the notifications and alerts on any
						subscribed alerts, job status.</p>
				  </div>
				</div>
            </div>
            <div class="item">
              <div class="card">
				<div class="card-body">
				  <h2 class="text-blue mb-4">Account Summary</h2>
					<p>It is the fair expectation for any customer to know about the cost and the infrastructure they have
						used for the data they have received. Process wise, user wise infrastructure usage and the cost of
						the data points delivered, data volume, data quality issue statistics are of interest for any business
						owners.</p>
				  </div>
				</div>
            </div>            
          </div>
		</div>
		</div>
	</div>
	</section>
	<section class="subscription" id="pricing">
	<div class="container">
		<div class="row">
		<div class="col-12">
			<h6 class="page-main-title">Subscription Information</h6>
			<h2 class="page-title mb-5">Our Pricing Structure is designed to help our clients need</h2> 
			</div>			
		</div>
		<div class="row justify-content-center">
		<div class="col-md-4">
		<div class="card">
		<div class="card-header">
		<div class="subscription-title">
		 Starter Plan
		</div>
			<div class="price-info">
			<span class="dollar">$</span>
			<span class="price">9</span>
			<span class="month">per<br> month</span>
			</div>
			</div>
			<ul class="list-group">
  <li class="list-group-item"><span>10</span>Data Extraction</li>
  <li class="list-group-item"><span>10</span>Data Preparation</li>
  <li class="list-group-item"><span>10</span>Data Enrichment</li>
  <li class="list-group-item"><span>10</span>GB Storage Space</li>
  <li class="list-group-item">24/7 Support</li>
</ul>
			<div class="">
			<a href="#" class="btn subscription-btn">Subscribe</a>
			</div>
		</div>	
		</div>
			<div class="col-md-4">
		<div class="card">
		<div class="card-header">
		<div class="subscription-title">
		 Scale Plan
		</div>
			<div class="price-info">
			<span class="dollar">$</span>
			<span class="price">42</span>
			<span class="month">per<br> month</span>
			</div>
			</div>
			<ul class="list-group">
  <li class="list-group-item"><span>50</span>Data Extraction</li>
  <li class="list-group-item"><span>50</span>Data Preparation</li>
  <li class="list-group-item"><span>50</span>Data Enrichment</li>
  <li class="list-group-item"><span>50</span>GB Storage Space</li>
  <li class="list-group-item">24/7 Support</li>
</ul>
			<div class="">
			<a href="#" class="btn subscription-btn">Subscribe</a>
			</div>
		</div>	
		</div>
			<div class="col-md-4">
		<div class="card">
		<div class="card-header">
		<div class="subscription-title">
		 Pro Plan
		</div>
			<div class="price-info">
			<span class="dollar">$</span>
			<span class="price">99</span>
			<span class="month">per<br> month</span>
			</div>
			</div>
			<ul class="list-group">
  <li class="list-group-item"><span>Unlimited</span>Data Extraction</li>
  <li class="list-group-item"><span>Unlimited</span>Data Preparation</li>
  <li class="list-group-item"><span>Unlimited</span>Data Enrichment</li>
  <li class="list-group-item"><span>Unlimited</span>GB Storage Space</li>
  <li class="list-group-item">24/7 Support</li>
</ul>
			<div class="">
			<a href="#" class="btn subscription-btn">Subscribe</a>
			</div>
		</div>	
		</div>
		</div>
	</div>
	</section>
	<div class="data-needs">
	<div class="container">
		<div class="row">
		<div class="col">
			<h6 class="page-main-title text-white">Data Needs</h6>
			<h2 class="page-title mb-5 text-white">Consultation on your data needs</h2> 
			<ul>
				<li><span></span>Understanding the business requirements and developing the custom-made unique strategy on the data management is the first step of serving any customer.</li>
				<li><span></span>Identifying the sources of data with web research, deciding the attributes and entities of data elements for the data processing, setting up the I/O format of the data, devising the extraction mechanism.</li>
				<li><span></span>Formulating the business insights on the data, conceiving the quality process and planning the check list at every stage of data for the scorrectness of the data are the key factors of consulting.</li>
				<li><span></span>Data inventory maintenance, systematically combining data, data quality assurance &amp; monitoring, data audit services are the core offering for any customer’s data journey.</li>
			</ul>
			</div>			
		</div>
		
	</div>
	</div>
	<div class="casestudy" id="casestudy">
	<div class="container">
		<div class="row">
		<div class="col">
			<div class="d-flex justify-content-between flex-md-row flex-column align-items-start">
				<span>
					<h1>Case Studies</h1>
					<h5 class="m-0">We design products to help our clients deliver unprecedented value.</h5>
					</span>
					<span class="mt-md-0 mt-4 align-self-md-center align-self-start">
					<button type="button" class="btn btn-lg btn-white">Download</button>
					</span>
				</div>
			</div>
		</div>
		</div>
	</div>
	<footer id="contact">
   	<div class="footer-top">
   		<div class="container">
   			<div class="row">
   				<div class="col-md-6 col-lg-7 form-group pr-md-5">
   					<img src="assets/img/udp-logo-white.png">
   					<div class="footer-title">
					24 * 7 Support and helpdesk
					</div>
					<p class="font12 text-white">We provide customer oriented solution for the support of on-boarded data services. It could be crisis
						logging, technical support, and order-taking/fulfilling, troubleshooting, training, customer services
						and product information support. Round the clock support with the dedicated customer care help
						desk services help you to enable the business services without any disruption.</p>
   				</div>   				
   				<div class="col-lg-5 col-md-6  form-group">
   					<div class="footer-title">
   						Contact
   					</div>
   					<div class="msg-form form-row">
   						<div class="col-md-6 form-group">
   						<input type="text" class="form-control" id="name" placeholder="Name">
   						</div>
   						<div class="col-md-6 form-group">
   						<input type="email" class="form-control" id="email" placeholder="Email">
   						</div>
   						<div class="col-md-6 form-group">
   						<input type="text" class="form-control" id="cname" placeholder="Company Name">
   						</div>
   						<div class="col-md-6 form-group">
   						<input type="text" class="form-control" id="phone" placeholder="Phone">
   						</div>
   						<div class="col-md-12 form-group">
   						<textarea class="form-control" id="message" rows="2" placeholder="Message"></textarea>
   						</div>
   						<div class="col-md-12">
   						<button type="button" class="btn btn-blue rounded-0">Send Message</button>
   						</div>
   					</div>
				</div>
   			</div>
   		</div>
   	</div>
   	<div class="footer-bottom">
      <ul class="quick-links">   						
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Disclaimer Information</a></li>
      </ul>
   		<p>Copyright © 2020 <span class="text-blue">UDP</span> - All rights reserved. </p>
   	</div>
   </footer>
	</div>
	<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up"></i></button>
<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="js/owl.carousel.min.js"></script>
	
<script>
  feather.replace({ class: 'foo bar', 'stroke-width': 1 })
</script>

<script>
$(document).ready(function(){
  $("#addbtn").click(function(){
    $("#addnew").toggle();
  });
	$(".exit").click(function(){
    $("#addnew").hide();
  });
});
</script>

<script>
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}
</script>
	<script>


$(document).ready(function(){
  $(".more-link").click(function(){	
    $(this).siblings("p").toggleClass("para");	
	  if($(this).siblings("p").hasClass("para")){
		$(this).html("Less details")  
	  }
	  else{
		  $(this).html("More details")
	  }	  
  });



 


});


</script>
	
	<script>
            $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
				animateOut: 'fadeOut',
    			smartSpeed:450,                
                margin: 10,
				sloop:true,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,					  
					loop:true,
                    nav: true					  
                  },
                  600: {
                    items: 1,
					loop:true,
                    nav: false
                  },
                  1000: {
                    items: 1,
                    nav: true,
                    loop: true,
                    margin: 20
                  }
                }
              })
            })
          </script>
	<script>
//Get the button

</script>