
html {
    scroll-behavior: smooth;	
  }
  body{
      font-family: 'Poppins', sans-serif !important;
      padding: 0;
      margin: 0;
      font-size: 14px;
      color: #666666 !important;
      background: #fff !important;
      letter-spacing: .5px;
  }
  
  .logo{
      width: 80px;
  }
  
  .main-banner{		
      background: #0d2f79; /* Old browsers */
      background: -moz-linear-gradient(45deg,  #0d2f79 0%, #09abdd 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg,  #0d2f79 0%,#09abdd 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg,  #0d2f79 0%,#09abdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2f79', endColorstr='#09abdd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      min-height: 100vh;
      padding-top:100px;
      overflow: hidden;
  }
  header .navbar{
      position: absolute;
      width: 100%;	
  }
  header .navbar .nav-link{
      color:#fff;
  }
  header .nav-item{
      margin:0px 10px;
  }
  .animated-bg i {
      top: 0;    
      position: absolute;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      opacity: 0.3;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      -webkit-animation: ripple1 3s linear infinite;
      animation: ripple1 3s linear infinite;
  }
  .animated-bg i {
      background: #fff6f6;
      -webkit-box-shadow: 0 15px 30px 0 #f3c4c3;
      box-shadow: 0 15px 30px 0 #f3c4c3;
  }
  .animated-bg i:nth-child(2) {
      -webkit-animation: ripple2 3s linear infinite;
      animation: ripple2 3s linear infinite;
  }
  .animated-bg i:nth-child(3) {
      -webkit-animation: ripple3 3s linear infinite;
      animation: ripple3 3s linear infinite;
  }
  
  .animated-bg2 i {
      top: 0;   
      bottom: 0;
      position: absolute;
      height: 70px;
      width: 70px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 100%;
      opacity: 0.3;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      -webkit-animation: ripple1 3s linear infinite;
      animation: ripple1 3s linear infinite;
      z-index: 0;
  }
  .animated-bg2 i {
      background: #fff6f6;
      -webkit-box-shadow: 0 15px 30px 0 #f3c4c3;
      box-shadow: 0 15px 30px 0 #f3c4c3;
  }
  .animated-bg2 i:nth-child(2) {
      -webkit-animation: ripple2 3s linear infinite;
      animation: ripple2 3s linear infinite;
  }
  .animated-bg2 i:nth-child(3) {
      -webkit-animation: ripple3 3s linear infinite;
      animation: ripple3 3s linear infinite;
  }
.navbar {
    background: none;
    padding: .5rem 1rem;
    box-shadow: none;
    height: auto;
}
.navbar .nav-link {
    text-transform: none;
    color: #111;
    font-size: 14px;
    font-weight: 500;
    padding: .5rem 1rem;
}
  
  .banner-content{
      display: flex;
      align-items: center;
      min-height: calc(100vh - 100px);
  }
  
  .banner-content h1, .banner-content h3{
      color:#fff;
  }
.banner-content p{
      color:#fff;
	  font-size: 16px;
  }
  .banner-img{
      z-index: 1;
      position: relative;
  }
  
  section{
      padding:60px 0px;
  }
  .why-section{	
      position: relative;
      padding: 0;
  }
  .why-info{
      background:#f2f2f2;	
  }
  .why-title{
      color:#007bff;
      transform: rotate(270deg);
      position: absolute;
      top: 7rem;
      left: 18px;
      letter-spacing: 6px;
      text-transform: uppercase;
      font-weight: 600;
  }
  .why-title:before{
      position: absolute;
      content:"";
      width: 120px;
      height: 3px;
      left: -136px;
      top: 8px;
      background: #007bff;
      
  }
  .why-section .why-info{
      padding: 3rem;
  }
  .why-section ul{
      padding-left:4rem;
      margin: 0;
  }
  .why-section ul li{
      margin:1rem 0;
      list-style: none;
      display: flex;
	  font-size: 15px;
  }
  .why-section ul li span {
      background: url(../../assets/img/tick-black.png) no-repeat;
      background-size: contain;
      background-position: 100% 100%;
      min-width: 12px;	
      height: 12px;
      margin-top: 7px;
      margin-right: 10px;	
  }
  .deals-section{
      padding:5rem;
      position: relative;
  }
  .deals-section .card p{
      font-size: 14px;
  }
.deals-section p{
	font-size: 15px;	
}
.deals-section .card{
	background: none;
	box-shadow: none;
	border:none;
}

  
  .deal-title{
      font-size: 16px;
      font-weight: 600;
      color: #007bff;
      margin-bottom: 16px;
  }
  .text-blue{
      color: #007bff;
  }
  .page-title{
      color:#0d2f79;
      line-height: 1.2;
	  font-weight: 600;
  }
h1.page-title{
	font-size: 2.8rem;
}
h2.page-title{
	font-size: 2.2rem;
}
  .page-main-title{
      font-size: 16px;
      font-weight: 600;
      color: #007bff;
      margin-bottom: 2rem;
      margin-left:66px;
  }
  .page-main-title:before{
      position: absolute;
      content:"";
      width:50px;
      height:3px;
      left: 16px;
      top: 8px;
      background: #007bff;
  }

  .data-service .card{
      border:none;
      margin-bottom: 1rem;
	  box-shadow: none;
	  background: none;
  }
  .data-service .card p{
      font-size: 14px;
      height: 62px;
      overflow: hidden;
  }
  .data-service .card .para{
      height: 100% !important; 
  }
  .data-service .card a{
      color:#111;
      font-size: 12px;
      font-weight: 600;
      text-decoration: none;
  }
  .data-service .card a i{
      font-size: 15px;
      margin-left: 1rem;
      vertical-align: middle;
  }
  .data-service .card a:hover{
      color: #007bff;
      text-decoration: none;
  }
  .platform-section{
      background:#f2f2f2;
  }
  .platform-carousel .card{
      border:0;
      background:#f2f2f2;
	  box-shadow: none;
  }
  .platform-carousel .card .card-body{
      padding: 0;
  }
  .platform-carousel .card .card-body p{
      font-size: 15px;
  }
 .platform-carousel .owl-nav{
      text-align: right;
  }
 .platform-carousel .owl-nav button.owl-prev, .platform-carousel .owl-nav button.owl-next{
      background: #007bff !important;
      color: #fff !important;
      font-size: 24px !important;
      padding: 0 1rem !important;
  }
  .platform-carousel .owl-prev{
      border-radius: 5px 0 0 5px;
  }
  .platform-carousel .owl-next{
      border-radius: 0 5px 5px 0;
  }
 .platform-carousel .owl-dots{
	display: none;	
}
  .subscription .card{
      border:1px solid #f2f2f2;
      border-radius: 0 !important;
      text-align: center;
      box-shadow: 0 0 10px 0 #d9d9d9;
      transition: all 0.5s ease-in-out;
      margin-bottom: 30px;
      
  }
  .subscription .card:hover{
      transform: scale(1.05);
      transition: all 0.5s ease-in-out;
  }
  .subscription-title{
      margin:1rem 0;
      position: relative;
  }
  
  .subscription-title:after{
      content: "";
      width:36px;
      height: 2px;	
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -16px;
      background: #fff;
      
  }
  .subscription .card .card-header{ 	
      padding: 5px;
      color:#fff;
      border-radius: 0 !important;
      background: #0d2f79; /* Old browsers */
      background: -moz-linear-gradient(45deg,  #0d2f79 0%, #09abdd 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg,  #0d2f79 0%,#09abdd 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg,  #0d2f79 0%,#09abdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2f79', endColorstr='#09abdd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      
  }
  .price-info{
      display: flex;
      justify-content: center;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  }
  .price-info .price{
      font-size: 48px;
      line-height: 1;
      padding:0 5px;
  }
  .price-info .dollar{
      font-size: 18px;
  }
  .price-info .month{
      font-size: 10px;
      align-self: flex-end;
      text-align: left;
  }
  .subscription .list-group .list-group-item{
      padding: 1.2rem 0rem;
      border-top: 1px dashed rgba(0,0,0,.125);
      border-bottom: 1px dashed rgba(0,0,0,.125);
      border-left: 0;
      border-right: 0;
  }
  .subscription .list-group .list-group-item span{
      border-radius: 20px;
      background: #09abdd;	
      height: 24px;
      min-width: 24px;
      color: #fff;
      margin-right: .5rem;
      display: inline-block;
      line-height: 24px;
      padding: 0px 5px;
      font-size: 12px;
  }
  .subscription .list-group .list-group-item:first-child{
      border-top:none;
  }
  .subscription .list-group .list-group-item:last-child{
      border-bottom:none;
  }
  .subscription-btn, .subscription-btn:hover{
      background: #09abdd;
      color:#fff;
      width: 100%;
      border-radius: 0;
      padding: 1rem;
      text-transform: uppercase;		
  }
  
  .data-needs{
      padding: 50px 0;
      background: url("../../assets/img/parallax.jpg") no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      color:#fff;
  }
  .data-needs ul{
      padding-left:0rem;
      margin: 0;
  }
  .data-needs ul li{
      margin:1rem 0;
      list-style: none;
      display: flex;
  }
  .data-needs ul li span {
      background: url("../../assets/img/tick-white.png") no-repeat;
      background-size: contain;
      background-position: 100% 100%;
      min-width: 12px;	
      height: 12px;
      margin-top: 7px;
      margin-right: 20px;	
  }
  
  .casestudy{
      background: #09abdd;
      position: relative;
      color:#fff;
      overflow: hidden;
      padding: 30px 0;
  }
  .casestudy:before{
      content: "Case Studies";
      font-size: 124px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-weight: 700;
      text-align: center;
      letter-spacing: 24px;
      opacity: 0.1;
  }
  
  .btn-blue, .btn-blue:hover{
      background: #09abdd;
      color:#fff;
      border-radius: 0;
      text-transform: uppercase;
      padding: .5rem 2rem;
      font-size: 16px;
      letter-spacing: 1px;
  }
  .btn-white, .btn-white:hover{
      background: #fff;
      color:#09abdd;
      border-radius: 0;
      text-transform: uppercase;
      padding: .5rem 2rem;
      font-size: 16px;
      letter-spacing: 1px;
  }
  footer{
      background: #001862;
  }
  footer .footer-top {
      padding: 60px 0px 30px 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  footer .footer-top img {
      margin-bottom: 20px;
      width: 60px;
  }
  footer .footer-top .company-info {
      padding: 0px;
      margin: 0px;
  }
  footer .footer-top .company-info > li {
      list-style: none;
      display: flex;
      margin: 10px 0px;
      font-size: 13px;
      font-weight: 500;
      color: #fff;
  }
  footer .footer-top .company-info > li i {
      color: #f16b35;
      margin-right: 15px;
  }
  footer .footer-top .company-info > li small {
      display: block;
      color: #7e8895;
  }
  footer .footer-top .footer-title {
      color: #09abdd;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 1rem;
  }
  footer .quick-links {
      padding: 0;
      margin: 0px;
	  background: none;
	  text-transform: none;
  }
  footer .quick-links > li {
      margin: 0 15px 30px 15px;
      font-size: 12px;
      list-style: none;
      display: inline-block;
  }
  footer .quick-links > li a {
      color: #fff;
      text-decoration: none;
  }
  footer .quick-links > li a:hover {
      color: #fff;
      text-decoration: none;
  }
  .msg-form .form-control {
      background: #001862;
      border-radius: 0px;
      color: #fff;
      font-size: 12px;
      border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .msg-form .form-control::placeholder{
      color:rgba(255, 255, 255, 0.5);
  }
  footer .footer-bottom {
      padding: 20px 0px;
      text-align: center;
  }
  .footer-bottom p {
      margin: 0px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
  }
  
  #myBtn {
      display: none;
      position: fixed; 
      z-index: 99;
      height: 50px;
      width: 50px;
      border:none;
      border-radius: 50%;
      font-size: 25px;
      line-height: 50px;
      background-color: #ffffff;
      color: #222222;
      right: 20px;
      bottom: 50px;	
      text-align: center;
      overflow: hidden;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  
  #myBtn:hover {
    background-color: #f2f2f2;
  }
  
  @-webkit-keyframes ripple1 {
   0% {
    -webkit-transform:scale(5.5);
    transform:scale(5.5);
    opacity:0.3
   }
   100% {
    -webkit-transform:scale(8.5);
    transform:scale(8.5);
    opacity:0.0
   }
  }
  @keyframes ripple1 {
   0% {
    -webkit-transform:scale(5.5);
    transform:scale(5.5);
    opacity:0.3
   }
   100% {
    -webkit-transform:scale(8.5);
    transform:scale(8.5);
    opacity:0.0
   }
  }
  @-webkit-keyframes ripple2 {
   0% {
    -webkit-transform:scale(3.5);
    transform:scale(3.5)
   }
   100% {
    -webkit-transform:scale(5.5);
    transform:scale(5.5)
   }
  }
  @keyframes ripple2 {
   0% {
    -webkit-transform:scale(3.5);
    transform:scale(3.5)
   }
   100% {
    -webkit-transform:scale(5.5);
    transform:scale(5.5)
   }
  }
  @-webkit-keyframes ripple3 {
   0% {
    -webkit-transform:scale(1.5);
    transform:scale(1.5)
   }
   100% {
    -webkit-transform:scale(3.5);
    transform:scale(3.5)
   }
  }
  @keyframes ripple3 {
   0% {
    -webkit-transform:scale(1.5);
    transform:scale(1.5)
   }
   100% {
    -webkit-transform:scale(3.5);
    transform:scale(3.5)
   }
  }
  
  @media (max-width: 768px) { 
  
  }
    